<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script id="allmobilize" charset="utf-8" src="style/js/allmobilize.min.js"></script>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate" media="handheld"/>
    <!-- end 云适配 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>全国-公司列表-拉勾网-最专业的互联网招聘平台</title>
    <meta property="qc:admins" content="23635710066417756375"/>
    <meta content="全国condition-condition-公司列表-拉勾网-最专业的互联网招聘平台" name="description">
    <meta content="全国condition-公司列表-拉勾网-最专业的互联网招聘平台" name="keywords">
    <meta name="baidu-site-verification" content="QIQ6KC1oZ6"/>

    <!-- <div class="web_root"  style="display:none">h</div> -->
    <script type="text/javascript">
        var ctx = "h";
        console.log(1);
    </script>
    <link rel="Shortcut Icon" href="h/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="style/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="style/css/external.min.css"/>
    <link rel="stylesheet" type="text/css" href="style/css/popup.css"/>
    <script src="style/js/jquery.1.10.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="style/js/jquery.lib.min.js"></script>
    <script src="style/js/ajaxfileupload.js" type="text/javascript"></script>
    <script type="text/javascript" src="style/js/additional-methods.js"></script>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="style/js/excanvas.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var youdao_conv_id = 271546;
    </script>
    <script type="text/javascript" src="style/js/conv.js"></script>
    <!--layer.js-->
    <script type="text/javascript" src="style/js/layer/layer.js"></script>

</head>

<body>
<!--隐藏域 存放用户输入的搜索条件(职位名称) -->
<input type="hidden" id="companyName" th:value="${session.companyItem.companyName}">
<!--隐藏域 存放分页查询 当前页数-->
<input type="hidden" id="page" th:value="${session.companyItem.page}">
<!--隐藏域 存放分页查询 存放总页数-->
<input type="hidden" id="pageCount" th:value="${session.companyItem.pageCount}">
<!--隐藏域 存放分页查询 存放总记录数-->
<input type="hidden" id="total" th:value="${session.companyItem.total}">
<!--隐藏域 存放分页查询 搜索的公司所在城市-->
<input type="hidden" id="city" th:value="${session.companyItem.city}">
<!--隐藏域 存放分页查询 存放发展阶段-->
<input type="hidden" id="stage" th:value="${session.companyItem.stage}">
<!--隐藏域 存放分页查询 存放行业领域-->
<input type="hidden" id="field" th:value="${session.companyItem.field}">

<div id="body">
    <!--引入顶部导航栏-->
    <div id="header" th:fragment="common_top_nav">
        <div class="wrapper">
            <a href="/index" class="logo">
                <img src="style/images/logo.png" width="229" height="43" alt="伯乐网-专注互联网招聘"/>
            </a>
            <ul class="reset" id="navheader">
                <li>
                    <a href="/index">首页</a>
                </li>
                <li class="current">
                    <a href="/companyList?page=1&size=9&companyName=&city=全国&stage=&field=" style="margin-left: 50px">搜索公司</a>
                </li>
                <li th:if="${session.user != null}" class="jianli">
                    <a href="javascript:void(0)" rel="nofollow" style="margin-left: 50px">我的简历</a>
                </li>
            </ul>
            <!--未登陆显示登陆注册-->
            <ul class="loginTop" th:if="${session.user}==null">
                <li>
                    <a href="/loginPage" rel="nofollow">登录</a>
                </li>
                <li>|</li>
                <li>
                    <a href="/registerPage" rel="nofollow">注册</a>
                </li>
            </ul>
            <!--已经登陆显示下拉列表-->
            <dl class="collapsible_menu" th:if="${session.user}!=null">
                <dt>
                    <span th:text="${session.user.phone}">路人甲</span>
                    <span class="red dn" id="noticeDot-0"></span>
                    <i></i>
                </dt>
                <dd class="jianli">
                    <a rel="nofollow" href="javascript:void(0)">我的简历</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">我收藏的职位</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">我投递的职位 <span id="noticeNo" class="red dn">(0)</span></a>
                </dd>
                <dd>
                    <a href="/setting">帐号设置</a>
                </dd>
                <dd class="logout">
                    <a rel="nofollow" href="/logout">退出</a>
                </dd>
            </dl>
            <script>
                //前往简历页面
                $(".jianli").click(function () {
                    //获取当前用户ID
                    var userId = $("#userId").val();
                    location.href = "/jianli?userId=" + userId;
                });
            </script>
        </div>
    </div>
    <!--顶部导航栏 end-->

    <div id="container">

        <div class="clearfix">
            <div class="content_l">
                <div id="companyListForm" name="companyListForm" method="get" action="h/c/companylist.html">
                    <!--搜索框-->
                    <div id="search_box" style="width: 675px;">
                        <form id="searchForm" name="searchForm" action="/companyList" method="get">
                            <input type="hidden" name="page" value="1"
                                   th:if="${session.companyItem==null || session.companyItem.page==null || session.companyItem.page==''}">
                            <input type="hidden" name="page" th:value="${session.companyItem.page}"
                                   th:if="${session.companyItem!=null && session.companyItem.page!=null && session.companyItem.page!=''}">
                            <input type="hidden" name="size" value="9">

                            <input type="hidden" id="city" name="city" value=""
                                   th:if="${session.companyItem==null || session.companyItem.city==null || session.companyItem.city==''}">
                            <input type="hidden" id="stage" name="stage" value=""
                                   th:if="${session.companyItem==null || session.companyItem.stage==null || session.companyItem.stage==''}">
                            <input type="hidden" id="field" name="field" value=""
                                   th:if="${session.companyItem==null || session.companyItem.field==null || session.companyItem.field==''}">

                            <input type="hidden" id="city" name="city" th:value="${session.companyItem.city}"
                                   th:if="${session.companyItem!=null && session.companyItem.city!=null && session.companyItem.city!=''}">
                            <input type="hidden" id="stage" name="stage" th:value="${session.companyItem.stage}"
                                   th:if="${session.companyItem!=null && session.companyItem.stage!=null && session.companyItem.stage!=''}">
                            <input type="hidden" id="field" name="field" th:value="${session.companyItem.field}"
                                   th:if="${session.companyItem!=null && session.companyItem.field!=null && session.companyItem.field!=''}">

                            <ul id="searchType">
                                <li data-searchtype="1" class="type_selected">搜公司</li>
                            </ul>
                            <input type="text" id="search_input" name="companyName" tabindex="1" value=""
                                   th:if="${session.companyItem==null ||session.companyItem.companyName==null || session.companyItem.companyName==''}"
                                   placeholder="公司名称" style="width: 410px"/>
                            <input type="text" id="search_input" name="companyName" tabindex="1"
                                   th:value="${session.companyItem.companyName}"
                                   th:if="${session.companyItem!=null && session.companyItem.companyName!=null && session.companyItem.companyName!=''}"
                                   placeholder="公司名称" style="width: 410px"/>

                            <input type="submit" id="search_button" value="搜索"/>
                        </form>
                    </div>

                    <!--所搜框下面 热门搜索条件-->
                    <dl class="hc_tag">
                        <!--热门城市-->
                        <dt>
                            <ul class="workplace reset" id="workplaceSelect" style="margin-top: 20px">
                                <li style="font-weight: bold;">热门城市：</li>
                                <li>
                                    <a class="" onclick="selectCity(this)" href="javascript:void(0)" th:if="${session.companyItem.city!='全国'}">全国</a>
                                    <a class="current" onclick="selectCity(this)" href="javascript:void(0)" th:if="${session.companyItem.city=='全国'}">全国</a>
                                    |
                                </li>
                                <li>
                                    <a class="" onclick="selectCity(this)" href="javascript:void(0)"
                                       th:if="${session.companyItem.city!='北京'}">北京</a>
                                    <a class="current" onclick="selectCity(this)" href="javascript:void(0)"
                                       th:if="${session.companyItem.city=='北京'}">北京</a>
                                    |
                                </li>
                                <li>
                                    <a class="" onclick="selectCity(this)" href="javascript:void(0)"
                                       th:if="${session.companyItem.city!='上海'}">上海</a>
                                    <a class="current" onclick="selectCity(this)" href="javascript:void(0)"
                                       th:if="${session.companyItem.city=='上海'}">上海</a>
                                    |
                                </li>
                                <li>
                                    <a class="" onclick="selectCity(this)" href="javascript:void(0)"
                                       th:if="${session.companyItem.city!='广州'}">广州</a>
                                    <a class="current" onclick="selectCity(this)" href="javascript:void(0)"
                                       th:if="${session.companyItem.city=='广州'}">广州</a>
                                    |
                                </li>
                                <li>
                                    <a class="" onclick="selectCity(this)" href="javascript:void(0)"
                                       th:if="${session.companyItem.city!='深圳'}">深圳</a>
                                    <a class="current" onclick="selectCity(this)" href="javascript:void(0)"
                                       th:if="${session.companyItem.city=='深圳'}">深圳</a>
                                    |
                                </li>
                                <li>
                                    <a class="" onclick="selectCity(this)" href="javascript:void(0)"
                                       th:if="${session.companyItem.city!='成都'}">成都</a>
                                    <a class="current" onclick="selectCity(this)" href="javascript:void(0)"
                                       th:if="${session.companyItem.city=='成都'}">成都</a>
                                    |
                                </li>
                                <li>
                                    <a class="" onclick="selectCity(this)" href="javascript:void(0)"
                                       th:if="${session.companyItem.city!='杭州'}">杭州</a>
                                    <a class="current" onclick="selectCity(this)" href="javascript:void(0)"
                                       th:if="${session.companyItem.city=='杭州'}">杭州</a>
                                    |
                                </li>
                                <li>
                                    <a class="" onclick="selectCity(this)" href="javascript:void(0)"
                                       th:if="${session.companyItem.city!='武汉'}">武汉</a>
                                    <a class="current" onclick="selectCity(this)" href="javascript:void(0)"
                                       th:if="${session.companyItem.city=='武汉'}">武汉</a>
                                    |
                                </li>
                                <li>
                                    <a class="" onclick="selectCity(this)" href="javascript:void(0)"
                                       th:if="${session.companyItem.city!='南京'}">南京</a>
                                    <a class="current" onclick="selectCity(this)" href="javascript:void(0)"
                                       th:if="${session.companyItem.city=='南京'}">南京</a>
                                </li>
                            </ul>
                            <script>
                                //选择公司地点
                                function selectCity(t) {
                                    //如果自己已经被选中，再次点击取消选中
                                    if ($(t).hasClass("current")){
                                        $(t).removeClass("current");//取消选中自己
                                        $("qg").addClass("current");//选中全国
                                        //重新查询
                                        $("#city").val('');//清空val值
                                        $("#search_button").click();
                                        return false;
                                    }

                                    //将所有兄弟节点取消选中
                                    var children = $(t).parent().parent().children();
                                    //console.log(children[0]);
                                    for (var i=1;i<children.length;i++){
                                        //$(children[i]).children(a).removeClass("current");
                                        $($(children[i]).children("a")[0]).removeClass("current");
                                    }
                                    //选中点击的自己
                                    $(t).addClass("current");
                                    //重新查询
                                    $("#city").val($(t).text().trim());
                                    $("#search_button").click();
                                    return false;
                                }
                            </script>
                        </dt>

                        <!--发展阶段 行业领域-->
                        <dd>
                            <dl>
                                <dt>发展阶段：</dt>
                                <dd>
                                    <a class="" onclick="selectStage(this)" href="javascript:void(0)" th:if="${session.companyItem.stage!='未融资'}">未融资</a>
                                    <a class="current" onclick="selectStage(this)" href="javascript:void(0)" th:if="${session.companyItem.stage=='未融资'}">未融资</a>
                                    <a class="" onclick="selectStage(this)" href="javascript:void(0)" th:if="${session.companyItem.stage!='天使轮'}">天使轮</a>
                                    <a class="current" onclick="selectStage(this)" href="javascript:void(0)" th:if="${session.companyItem.stage=='天使轮'}">天使轮</a>
                                    <a class="" onclick="selectStage(this)" href="javascript:void(0)" th:if="${session.companyItem.stage!='A轮'}">A轮</a>
                                    <a class="current" onclick="selectStage(this)" href="javascript:void(0)" th:if="${session.companyItem.stage=='A轮'}">A轮</a>
                                    <a class="" onclick="selectStage(this)" href="javascript:void(0)" th:if="${session.companyItem.stage!='B轮'}">B轮</a>
                                    <a class="current" onclick="selectStage(this)" href="javascript:void(0)" th:if="${session.companyItem.stage=='B轮'}">B轮</a>
                                    <a class="" onclick="selectStage(this)" href="javascript:void(0)" th:if="${session.companyItem.stage!='C轮'}">C轮</a>
                                    <a class="current" onclick="selectStage(this)" href="javascript:void(0)" th:if="${session.companyItem.stage=='C轮'}">C轮</a>
                                    <a class="" onclick="selectStage(this)" href="javascript:void(0)" th:if="${session.companyItem.stage!='D轮及以上'}">D轮及以上</a>
                                    <a class="current" onclick="selectStage(this)" href="javascript:void(0)" th:if="${session.companyItem.stage=='D轮及以上'}">D轮及以上</a>
                                    <a class="" onclick="selectStage(this)" href="javascript:void(0)" th:if="${session.companyItem.stage!='上市公司'}">上市公司</a>
                                    <a class="current" onclick="selectStage(this)" href="javascript:void(0)" th:if="${session.companyItem.stage=='上市公司'}">上市公司</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt>行业领域：</dt>
                                <dd>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='移动互联网'}">移动互联网</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='移动互联网'}">移动互联网</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='电子商务'}">电子商务</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='电子商务'}">电子商务</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='社交'}">社交</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='社交'}">社交</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='企业服务'}">企业服务</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='企业服务'}">企业服务</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='O2O'}">O2O</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='O2O'}">O2O</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='教育'}">教育</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='教育'}">教育</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='文化艺术'}">文化艺术</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='文化艺术'}">文化艺术</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='游戏'}">游戏</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='游戏'}">游戏</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='在线旅游'}">在线旅游</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='在线旅游'}">在线旅游</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='金融互联网'}">金融互联网</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='金融互联网'}">金融互联网</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='健康医疗'}">健康医疗</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='健康医疗'}">健康医疗</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='生活服务'}">生活服务</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='生活服务'}">生活服务</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='硬件'}">硬件</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='硬件'}">硬件</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='搜索'}">搜索</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='搜索'}">搜索</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='安全'}">安全</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='安全'}">安全</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='运动体育'}">运动体育</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='运动体育'}">运动体育</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='云计算\大数据'}">云计算\大数据</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='云计算\大数据'}">云计算\大数据</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='移动广告'}">移动广告</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='移动广告'}">移动广告</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='社会化营销'}">社会化营销</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='社会化营销'}">社会化营销</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='视频多媒体'}">视频多媒体</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='视频多媒体'}">视频多媒体</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='媒体'}">媒体</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='媒体'}">媒体</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='智能家居'}">智能家居</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='智能家居'}">智能家居</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='智能电视'}">智能电视</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='智能电视'}">智能电视</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='分类信息'}">分类信息</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='分类信息'}">分类信息</a>
                                    <a class="" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field!='招聘'}">招聘</a>
                                    <a class="current" onclick="selectField(this)" href="javascript:void(0)" th:if="${session.companyItem.field=='招聘'}">招聘</a>
                                </dd>
                            </dl>
                        </dd>
                        <script>
                            //选择公司发展阶段
                            function selectStage(t) {
                                //如果自己已经被选中，再次点击取消选中
                                if ($(t).hasClass("current")){
                                    $(t).removeClass("current");
                                    //重新查询
                                    $("#stage").val('');//清空val值
                                    $("#search_button").click();
                                    return false;
                                }
                                //将所有兄弟节点取消选中
                                var child=$(t).parent().children();
                                for (var i=0;i<child.length;i++){
                                    $(child[i]).removeClass("current");
                                }
                                //选中点击的自己
                                $(t).addClass("current");
                                //重新查询
                                $("#stage").val($(t).text().trim());
                                $("#search_button").click();
                                return false;
                            }

                            function selectField(t) {
                                //如果自己已经被选中，再次点击取消选中
                                if ($(t).hasClass("current")){
                                    $(t).removeClass("current");
                                    //重新查询
                                    $("#field").val('');//清空val值
                                    $("#search_button").click();
                                    return false;
                                }
                                //将所有兄弟节点取消选中
                                var child=$(t).parent().children();
                                for (var i=0;i<child.length;i++){
                                    $(child[i]).removeClass("current");
                                }
                                //选中点击的自己
                                $(t).addClass("current");
                                //重新查询
                                $("#field").val($(t).text().trim());
                                $("#search_button").click();
                                return false;
                            }
                        </script>
                    </dl>

                    <!--公司列表-->
                    <ul class="hc_list reset">

                        <li th:each="company,itemStat : ${session.companyItem.companyList}">
                            <a th:href="'/company?companyId='+${company.companyInfo.id}" target="_blank">
                                <h3 th:title="${company.companyInfo.companyName}">
                                    [[${company.companyInfo.companyName}]]</h3>
                                <div class="comLogo">
                                    <img th:src="'companyLogo/'+${company.companyInfo.companyLogo}" width="190"
                                         height="190" th:alt="${company.companyInfo.companyName}"/>
                                    <ul>
                                        <li th:text="${company.companyInfo.companyField}">行业领域</li>
                                        <li>
                                            [[${company.companyInfo.companyCity}]]，[[${company.companyInfo.companyStage}]]
                                        </li>
                                    </ul>
                                </div>
                            </a>
                            <!--标签-->
                            <ul class="companyTags reset" th:id="'tag'+${itemStat.count}">
                                <input type="hidden" th:id="'hiddenTags'+${itemStat.count}"
                                       th:value="${company.companyTags.companyTag}">
                                <script>
                                    //获取自增序列
                                    //获取所有标签字符串
                                    var tags = $("#hiddenTags[[${itemStat.count}]]").val();
                                    //字符串分割成为数组
                                    var tagArr = new Array(); //定义一数组
                                    tagArr = tags.split(","); //字符分割
                                    //将标签循环显示在页面上
                                    for (i = 0; i < tagArr.length; i++) {
                                        //追加节点
                                        $("#tag[[${itemStat.count}]]").append('<li><span>' + tagArr[i] + '</span></li>');
                                    }
                                </script>
                            </ul>
                        </li>
                    </ul>
                    <!--公司列表 end -->

                    <!--分页按钮-->
                    <!--
                        class="current"表示选中状态
                    -->
                    <div class="Pagination" id="pageBar" style="float: right;">
                        <a href="javascript:void(0)" id="upPage" title="上一页">上一页 </a>
                        <a href="javascript:void(0)" id="nextPage" title="下一页">下一页 </a>
                    </div>
                    <script>
                        //分页相关
                        $(function () {
                            /***************************
                             * 分页
                             */
                                //获取当前页数
                            var page=$("#page").val().trim();
                            //获取总页数
                            var pageCount=$("#pageCount").val().trim();
                            //获取总记录数
                            var total=$("#total").val().trim();

                            //如果是第一页则禁用上一页按钮
                            if(parseInt(page)==1){
                                $("#upPage").attr("style","background: #019875;");
                                $("#upPage").attr("disable","true");
                            }
                            //如果是做后一页，则禁用下一页按钮
                            if(parseInt(page)==parseInt(pageCount)||pageCount==0){
                                $("#nextPage").attr("style","background: #019875;");
                                $("#nextPage").attr("disable","true");
                            }

                            //点击下一页
                            $("#nextPage").click(function () {
                                //获取用户搜索的条件(公司名称)
                                var companyName=$("#search_input").val().trim();
                                //获取当前页数
                                var page=$("#page").val().trim();
                                //获取总页数
                                var pageCount=$("#pageCount").val().trim();
                                //获取公司所在城市
                                var city=$("#city").val().trim();
                                //获取发展阶段
                                var stage=$("#stage").val().trim();
                                //获取行业领域
                                var field=$("#field").val().trim();

                                if(parseInt(page)==parseInt(pageCount)||parseInt(pageCount)==0){layer.alert("没有更多数据了",{icon:5}); return false;}

                                var newpage=parseInt(page)+1
                                //发送查询请求
                                location.href="/companyList?page="+newpage+"&size=9&companyName="+companyName+"&city="+city+"&stage="+stage+"&field="+field;
                            });

                            //点击上一页
                            $("#upPage").click(function () {
                                //获取用户搜索的条件(职位名称)
                                var companyName=$("#search_input").val().trim();
                                //获取当前页数
                                var page=$("#page").val().trim();
                                //获取总页数
                                var pageCount=$("#pageCount").val().trim();
                                //获取公司所在城市
                                var city=$("#city").val().trim();
                                //获取发展阶段
                                var stage=$("#stage").val().trim();
                                //获取行业领域
                                var field=$("#field").val().trim();

                                if(parseInt(page)==1){return false;}


                                var newpage=parseInt(page)-1
                                //发送查询请求
                                location.href="/companyList?page="+newpage+"&size=9&companyName="+companyName+"&city="+city+"&stage="+stage+"&field="+field;
                            });
                        });
                    </script>
                </div>
            </div>

            <!--右侧边栏-->
            <div class="content_r">
                <!--二维码-->
                <div class="greybg qrcode mt20">
                    <img width="242" height="242" alt="这只是一个二维码" src="style/images/qr_resume.png">
                    <span class="c7">微信扫一扫，轻松找工作</span>
                </div>

                <a href="http://www.w3cplus.com/" target="_blank" class="partnersAd">
                    <img src="style/images/w3cplus.png" width="280" height="135" alt="w3cplus">
                </a>
                <a href="" target="_blank" class="partnersAd">
                    <img src="style/images/jquery_school.jpg" width="280" height="135" alt="JQ学校">
                </a>
                <a href="http://linux.cn/" target="_blank" class="partnersAd">
                    <img src="style/images/linuxcn.png" width="280" height="135" alt="Linux中文社区">
                </a>
                <a href="http://www.imooc.com" target="_blank" class="partnersAd">
                    <img src="style/images/muke.jpg" width="280" height="135" alt="幕课网">
                </a>
                <a href="http://zt.zhubajie.com/zt/makesite? utm_source=lagou.com&amp;utm_medium=referral&amp;utm_campaign=BD-yl"
                   target="_blank" class="partnersAd">
                    <img src="style/images/zhubajie.jpg" width="280" height="135" alt="猪八戒">
                </a>

            </div>
        </div>

        <script type="text/javascript" src="style/js/company_list.min.js"></script>
        <div class="clear"></div>
        <input type="hidden" id="resubmitToken" value=""/>
        <a id="backtop" title="回到顶部" rel="nofollow"></a>
    </div>
    <!-- end #container -->
</div>
<!-- end #body -->
<!--引入页面底部备案号-->
<div th:replace="public/publicFragment::footer_nav"></div>

<script type="text/javascript" src="style/js/core.min.js"></script>
<script type="text/javascript" src="style/js/popup.min.js"></script>

<!--  -->

</body>

</html>