<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>首页-伯乐网</title>
    <link rel="stylesheet" type="text/css" href="style/css/style.css" th:href="@{style/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="style/css/external.min.css"/>
    <link rel="stylesheet" type="text/css" href="style/css/popup.css"/>
    <script src="style/js/jquery.1.10.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="style/js/jquery.lib.min.js"></script>
    <script src="style/js/ajaxfileupload.js" type="text/javascript"></script>
    <script type="text/javascript" src="style/js/additional-methods.js"></script>
    <!--layer.js-->
    <script type="text/javascript" src="style/js/layer/layer.js"></script>
    <!--自带内部样式-->
    <style>
        .ui-autocomplete {
            width: 488px;
            background: #fafafa !important;
            position: relative;
            z-index: 10;
            border: 2px solid #91cebe;
        }

        .ui-autocomplete-category {
            font-size: 16px;
            color: #999;
            width: 50px;
            position: absolute;
            z-index: 11;
            right: 0px;
            /*top: 6px; */
            text-align: center;
            border-top: 1px dashed #e5e5e5;
            padding: 5px 0;
        }

        .ui-menu-item {
            *width: 439px;
            vertical-align: middle;
            position: relative;
            margin: 0px;
            margin-right: 50px !important;
            background: #fff;
            border-right: 1px dashed #ededed;
        }

        .ui-menu-item a {
            display: block;
            overflow: hidden;
        }
    </style>
</head>

<body>
<!--隐藏域存放用户ID-->
<input type="hidden" id="userId" th:if="${session.user != null}" th:value="${session.user.id}">

<div id="body">
    <!--引入顶部导航栏-->
    <div id="header" th:fragment="common_top_nav">
        <div class="wrapper">
            <a href="/index" class="logo">
                <img src="style/images/logo.png" width="229" height="43" alt="伯乐网-专注互联网招聘"/>
            </a>
            <ul class="reset" id="navheader">
                <li class="current">
                    <a href="/index">首页</a>
                </li>
                <li>
                    <a href="/companyList?page=1&size=9&companyName=&city=全国&stage=&field=" style="margin-left: 50px">搜索公司</a>
                </li>
                <li th:if="${session.user != null}" class="jianli">
                    <a href="javascript:void(0)" rel="nofollow" style="margin-left: 50px">我的简历</a>
                </li>
            </ul>
            <!--未登陆显示登陆注册-->
            <ul class="loginTop" th:if="${session.user}==null">
                <li>
                    <a href="/loginPage" rel="nofollow">登录</a>
                </li>
                <li>|</li>
                <li>
                    <a href="/registerPage" rel="nofollow">注册</a>
                </li>
            </ul>
            <!--已经登陆显示下拉列表-->
            <dl class="collapsible_menu" th:if="${session.user}!=null">
                <dt>
                    <span th:text="${session.user.phone}">路人甲</span>
                    <span class="red dn" id="noticeDot-0"></span>
                    <i></i>
                </dt>
                <dd class="jianli">
                    <a rel="nofollow" href="javascript:void(0)">我的简历</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">我收藏的职位</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">我投递的职位 <span id="noticeNo" class="red dn">(0)</span></a>
                </dd>
                <dd>
                    <a href="/setting">帐号设置</a>
                </dd>
                <dd class="logout">
                    <a rel="nofollow" href="/logout">退出</a>
                </dd>
            </dl>
            <script>
                //前往简历页面
                $(".jianli").click(function () {
                    //获取当前用户ID
                    var userId=$("#userId").val();
                    location.href="/jianli?userId="+userId;
                });
            </script>
        </div>
    </div>
    <!--顶部导航栏 end-->

    <!--主体部分-->
    <div id="container">
        <!--左侧类别框-->
        <div id="sidebar">
            <div class="mainNavs">

                <div class="menu_box">
                    <div class="menu_main">
                        <h2>技术 <span></span></h2>
                        <a href="/list?page=1&size=10&position=Java">Java</a>
                        <a href="/list?page=1&size=10&position=PHP">PHP</a>
                        <a href="/list?page=1&size=10&position=C">C</a>
                        <a href="/list?page=1&size=10&position=C++">C++</a>
                        <a href="/list?page=1&size=10&position=Android">Android</a>
                        <a href="/list?page=1&size=10&position=IOS">IOS</a>
                        <a href="/list?page=1&size=10&position=前端开发">前端开发</a>
                        <a href="/list?page=1&size=10&position=测试">测试</a>
                        <a href="/list?page=1&size=10&position=技术经理">技术经理</a>
                        <a href="/list?page=1&size=10&position=项目经理">项目经理</a>
                        <a href="/list?page=1&size=10&position=架构师">架构师</a>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=后端开发">后端开发</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=java" class="curr">Java</a>
                                <a href="/list?page=1&size=10&position=C++" class="curr">C++</a>
                                <a href="/list?page=1&size=10&position=PHP" class="curr">PHP</a>
                                <a href="/list?page=1&size=10&position=数据挖掘">数据挖掘</a>
                                <a href="/list?page=1&size=10&position=C" class="curr">C</a>
                                <a href="/list?page=1&size=10&position=C#">C#</a>
                                <a href="/list?page=1&size=10&position=.NET">.NET</a>
                                <a href="/list?page=1&size=10&position=Hadoop">Hadoop</a>
                                <a href="/list?page=1&size=10&position=Python">Python</a>
                                <a href="/list?page=1&size=10&position=Delphi">Delphi</a>
                                <a href="/list?page=1&size=10&position=VB">VB</a>
                                <a href="/list?page=1&size=10&position=Perl">Perl</a>
                                <a href="/list?page=1&size=10&position=Ruby">Ruby</a>
                                <a href="/list?page=1&size=10&position=Node.js">Node.js</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=移动开发">移动开发</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=HTML5">HTML5</a>
                                <a href="/list?page=1&size=10&position=Android" class="curr">Android</a>
                                <a href="/list?page=1&size=10&position=IOS" class="curr">IOS</a>
                                <a href="/list?page=1&size=10&position=WP">WP</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=前端开发">前端开发</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=web前端">web前端</a>
                                <a href="/list?page=1&size=10&position=Flash">Flash</a>
                                <a href="/list?page=1&size=10&position=html5">html5</a>
                                <a href="/list?page=1&size=10&position=JavaScript">JavaScript</a>
                                <a href="/list?page=1&size=10&position=U3D">U3D</a>
                                <a href="/list?page=1&size=10&position=COCOS2D-X">COCOS2D-X</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="list?position=测试">测试</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=测试工程师">测试工程师</a>
                                <a href="/list?page=1&size=10&position=自动化测试">自动化测试</a>
                                <a href="/list?page=1&size=10&position=功能测试">功能测试</a>
                                <a href="/list?page=1&size=10&position=性能测试">性能测试</a>
                                <a href="/list?page=1&size=10&position=测试开发">测试开发</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=运维">运维</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=运维工程师">运维工程师</a>
                                <a href="/list?page=1&size=10&position=运维开发工程师">运维开发工程师</a>
                                <a href="/list?page=1&size=10&position=网络工程师">网络工程师</a>
                                <a href="/list?page=1&size=10&position=系统工程师">系统工程师</a>
                                <a href="/list?page=1&size=10&position=IT支持">IT支持</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=DBA">DBA</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=MySQL">MySQL</a>
                                <a href="/list?page=1&size=10&position=SQLServer">SQLServer</a>
                                <a href="/list?page=1&size=10&position=Oracle">Oracle</a>
                                <a href="/list?page=1&size=10&position=DB2">DB2</a>
                                <a href="/list?page=1&size=10&position=MongoDB">MongoDB</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=项目管理">项目管理</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=项目经理" class="curr">项目经理</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=高端职位">高端职位</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=技术经理" class="curr">技术经理</a>
                                <a href="/list?page=1&size=10&position=技术总监">技术总监</a>
                                <a href="/list?page=1&size=10&position=测试经理">测试经理</a>
                                <a href="/list?page=1&size=10&position=架构师" class="curr">架构师</a>
                                <a href="/list?page=1&size=10&position=CTO">CTO</a>
                                <a href="/list?page=1&size=10&position=运维总监">运维总监</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="menu_box">
                    <div class="menu_main">
                        <h2>产品 <span></span></h2>
                        <a href="/list?page=1&size=10&position=产品经理">产品经理</a>
                        <a href="/list?page=1&size=10&position=产品助理">产品助理</a>
                        <a href="/list?page=1&size=10&position=无线产品经理">无线产品经理</a>
                        <a href="/list?page=1&size=10&position=游戏策划">游戏策划</a>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=产品经理">产品经理</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=产品经理" class="curr">产品经理</a>
                                <a href="/list?page=1&size=10&position=网页产品经理">网页产品经理</a>
                                <a href="/list?page=1&size=10&position=移动产品经理">移动产品经理</a>
                                <a href="/list?page=1&size=10&position=产品助理" class="curr">产品助理</a>
                                <a href="/list?page=1&size=10&position=数据产品经理">数据产品经理</a>
                                <a href="/list?page=1&size=10&position=电商产品经理">电商产品经理</a>
                                <a href="/list?page=1&size=10&position=游戏策划" class="curr">游戏策划</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=产品设计师">产品设计师</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=网页产品设计师">网页产品设计师</a>
                                <a href="/list?page=1&size=10&position=无线产品设计师">无线产品设计师</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=高端职位">高端职位</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=产品部经理">产品部经理</a>
                                <a href="/list?page=1&size=10&position=产品总监">产品总监</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="menu_box">
                    <div class="menu_main">
                        <h2>设计 <span></span></h2>
                        <a href="/list?page=1&size=10&position=UI">UI</a>
                        <a href="/list?page=1&size=10&position=UE">UE</a>
                        <a href="/list?page=1&size=10&position=设计师">设计师</a>
                        <a href="/list?page=1&size=10&position=交互设计">交互设计</a>
                        <a href="/list?page=1&size=10&position=数据分析">数据分析</a>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=视觉设计">视觉设计</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=视觉设计师">视觉设计师</a>
                                <a href="/list?page=1&size=10&position=网页设计师">网页设计师</a>
                                <a href="/list?page=1&size=10&position=Flash设计师">Flash设计师</a>
                                <a href="/list?page=1&size=10&position=APP设计师">APP设计师</a>
                                <a href="/list?page=1&size=10&position=UI设计师">UI设计师</a>
                                <a href="/list?page=1&size=10&position=平面设计师">平面设计师</a>
                                <a href="/list?page=1&size=10&position=美术设计师">美术设计师（2D/3D）</a>
                                <a href="/list?page=1&size=10&position=广告设计师">广告设计师</a>
                                <a href="/list?page=1&size=10&position=多媒体设计师">多媒体设计师</a>
                                <a href="/list?page=1&size=10&position=原画师">原画师</a>
                                <a href="/list?page=1&size=10&position=游戏特效">游戏特效</a>
                                <a href="/list?page=1&size=10&position=游戏界面设计师">游戏界面设计师</a>
                                <a href="/list?page=1&size=10&position=游戏场景">游戏场景</a>
                                <a href="/list?page=1&size=10&position=游戏角色">游戏角色</a>
                                <a href="/list?page=1&size=10&position=游戏动作">游戏动作</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=交互设计">交互设计</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=交互设计师">交互设计师</a>
                                <a href="/list?page=1&size=10&position=无线交互设计师">无线交互设计师</a>
                                <a href="/list?page=1&size=10&position=网页交互设计师">网页交互设计师</a>
                                <a href="/list?page=1&size=10&position=硬件交互设计师">硬件交互设计师</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=用户研究">用户研究</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=数据分析师">数据分析师</a>
                                <a href="/list?page=1&size=10&position=用户研究员">用户研究员</a>
                                <a href="/list?page=1&size=10&position=游戏数值策划">游戏数值策划</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=高端职位">高端职位</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=设计经理">设计经理/主管</a>
                                <a href="/list?page=1&size=10&position=设计总监">设计总监</a>
                                <a href="/list?page=1&size=10&position=视觉设计经理">视觉设计经理/主管</a>
                                <a href="/list?page=1&size=10&position=视觉设计总监">视觉设计总监</a>
                                <a href="/list?page=1&size=10&position=交互设计经理">交互设计经理/主管</a>
                                <a href="/list?page=1&size=10&position=交互设计总监">交互设计总监</a>
                                <a href="/list?page=1&size=10&position=用户研究经理">用户研究经理/主管</a>
                                <a href="/list?page=1&size=10&position=用户研究总监">用户研究总监</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="menu_box">
                    <div class="menu_main">
                        <h2>运营 <span></span></h2>
                        <a href="/list?page=1&size=10&position=运营">运营</a>
                        <a href="/list?page=1&size=10&position=游戏运营">游戏运营</a>
                        <a href="/list?page=1&size=10&position=编辑">编辑</a>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=运营">运营</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=用户运营">用户运营</a>
                                <a href="/list?page=1&size=10&position=产品运营">产品运营</a>
                                <a href="/list?page=1&size=10&position=数据运营">数据运营</a>
                                <a href="/list?page=1&size=10&position=内容运营">内容运营</a>
                                <a href="/list?page=1&size=10&position=活动运营">活动运营</a>
                                <a href="/list?page=1&size=10&position=商家运营">商家运营</a>
                                <a href="/list?page=1&size=10&position=品类运营">品类运营</a>
                                <a href="/list?page=1&size=10&position=游戏运营" class="curr">游戏运营</a>
                                <a href="/list?page=1&size=10&position=网络推广">网络推广</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=编辑">编辑</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=副主编">副主编</a>
                                <a href="/list?page=1&size=10&position=内容编辑">内容编辑</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=客服">客服</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=售前咨询">售前咨询</a>
                                <a href="/list?page=1&size=10&position=售后客服">售后客服</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=高端职位">高端职位</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=主编">主编</a>
                                <a href="/list?page=1&size=10&position=运营总监">运营总监</a>
                                <a href="/list?page=1&size=10&position=COO">COO</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="menu_box">
                    <div class="menu_main">
                        <h2>市场与销售 <span></span></h2>
                        <a href="/list?page=1&size=10&position=市场推广">市场推广</a>
                        <a href="/list?page=1&size=10&position=市场策划">市场策划</a>
                        <a href="/list?page=1&size=10&position=活动策划">活动策划</a>
                        <a href="/list?page=1&size=10&position=BD">BD</a>
                        <a href="/list?page=1&size=10&position=销售经理">销售经理</a>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=市场营销">市场/营销</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=市场营销">市场营销</a>
                                <a href="/list?page=1&size=10&position=市场策划" class="curr">市场策划</a>
                                <a href="/list?page=1&size=10&position=市场顾问">市场顾问</a>
                                <a href="/list?page=1&size=10&position=市场推广" class="curr">市场推广</a>
                                <a href="/list?page=1&size=10&position=SEO">SEO</a>
                                <a href="/list?page=1&size=10&position=SEM">SEM</a>
                                <a href="/list?page=1&size=10&position=商务渠道">商务渠道</a>
                                <a href="/list?page=1&size=10&position=商业数据分析">商业数据分析</a>
                                <a href="/list?page=1&size=10&position=活动策划" class="curr">活动策划</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=公关">公关</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=媒介经理">媒介经理</a>
                                <a href="/list?page=1&size=10&position=广告协调">广告协调</a>
                                <a href="/list?page=1&size=10&position=品牌公关">品牌公关</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=销售">销售</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=销售专员">销售专员</a>
                                <a href="/list?page=1&size=10&position=销售经理" class="curr">销售经理</a>
                                <a href="/list?page=1&size=10&position=客户代表">客户代表</a>
                                <a href="/list?page=1&size=10&position=大客户代表">大客户代表</a>
                                <a href="/list?page=1&size=10&position=BD经理">BD经理</a>
                                <a href="/list?page=1&size=10&position=商务渠道">商务渠道</a>
                                <a href="/list?page=1&size=10&position=渠道销售">渠道销售</a>
                                <a href="/list?page=1&size=10&position=代理商销售">代理商销售</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=高端职位">高端职位</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=市场总监">市场总监</a>
                                <a href="/list?page=1&size=10&position=销售总监">销售总监</a>
                                <a href="/list?page=1&size=10&position=商务总监">商务总监</a>
                                <a href="/list?page=1&size=10&position=CMO">CMO</a>
                                <a href="/list?page=1&size=10&position=公关总监">公关总监</a>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="menu_box">
                    <div class="menu_main">
                        <h2>职能 <span></span></h2>
                        <a href="/list?page=1&size=10&position=HR">HR</a>
                        <a href="/list?page=1&size=10&position=行政">行政</a>
                        <a href="/list?page=1&size=10&position=会计">会计</a>
                        <a href="/list?page=1&size=10&position=出纳">出纳</a>
                    </div>
                    <div class="menu_sub dn">
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=人力资源">人力资源</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=人力资源HR">人力资源</a>
                                <a href="/list?page=1&size=10&position=招聘HR">招聘</a>
                                <a href="/list?page=1&size=10&position=HRBPHR">HRBP</a>
                                <a href="/list?page=1&size=10&position=人事HR">人事/HR</a>
                                <a href="/list?page=1&size=10&position=培训经理HR">培训经理</a>
                                <a href="/list?page=1&size=10&position=薪资福利经理HR">薪资福利经理</a>
                                <a href="/list?page=1&size=10&position=绩效考核经理HR">绩效考核经理</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=行政">行政</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=助理">助理</a>
                                <a href="/list?page=1&size=10&position=前台">前台</a>
                                <a href="/list?page=1&size=10&position=法务">法务</a>
                                <a href="/list?page=1&size=10&position=行政" class="curr">行政</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=财务">财务</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=会计" class="curr">会计</a>
                                <a href="/list?page=1&size=10&position=出纳" class="curr">出纳</a>
                                <a href="/list?page=1&size=10&position=财务">财务</a>
                            </dd>
                        </dl>
                        <dl class="reset">
                            <dt>
                                <a href="/list?page=1&size=10&position=高端职位">高端职位</a>
                            </dt>
                            <dd>
                                <a href="/list?page=1&size=10&position=行政总监">行政总监/经理</a>
                                <a href="/list?page=1&size=10&position=财务总监">财务总监/经理</a>
                                <a href="/list?page=1&size=10&position=HDR">HRD/HRM</a>
                                <a href="/list?page=1&size=10&position=CFO">CFO</a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <!--					<a class="subscribe" href="subscribe.html" target="_blank">订阅职位</a>-->
        </div>

        <!--右侧主要部分信息-->
        <div class="content">
            <!--搜索框-->
            <div id="search_box">
                <form id="searchForm" name="searchForm" action="/list" method="get">
                    <input type="hidden" name="page" value="1">
                    <input type="hidden" name="size" value="10">
                    <ul id="searchType">
                        <li data-searchtype="1" class="type_selected">搜职位</li>
                    </ul>
                    <input type="text" id="search_input" name="position" tabindex="1" value="" placeholder="请输入职位名称，如：产品经理"/>
                    <input type="submit" id="search_button" value="搜索"/>
                </form>
            </div>

            <!--搜索框下面 热门搜索-->
            <dl class="hotSearch">
                <dt>热门搜索：</dt>
                <dd>
                    <a href="list?position=Java">Java</a>
                </dd>
                <dd>
                    <a href="list?position=PHP">PHP</a>
                </dd>
                <dd>
                    <a href="list?position=Android">Android</a>
                </dd>
                <dd>
                    <a href="list?position=ios">iOS</a>
                </dd>
                <dd>
                    <a href="list?position=前端">前端</a>
                </dd>
                <dd>
                    <a href="list?position=产品经理">产品经理</a>
                </dd>
                <dd>
                    <a href="list?position=UI">UI</a>
                </dd>
                <dd>
                    <a href="list?position=i运营">运营</a>
                </dd>
                <dd>
                    <a href="list?position=BD">BD</a>
                </dd>
                <dd>
                    <a href="list?position=实习">实习</a>
                </dd>
            </dl>

            <!--轮播图-->
            <div id="home_banner">
                <ul class="banner_bg">
                    <li class="banner_bg_1 current">
                        <a href="javascript:void(0)">
                            <img src="style/images/d05a2cc6e6c94bdd80e074eb05e37ebd.jpg" width="612" height="160"
                                 alt="好买基金——来了就给100万"/>
                        </a>
                    </li>
                    <li class="banner_bg_2">
                        <a href="javascript:void(0)">
                            <img src="style/images/c9d8a0756d1442caa328adcf28a38857.jpg" width="612" height="160"
                                 alt="世界杯放假看球，老板我也要！"/>
                        </a>
                    </li>
                    <li class="banner_bg_3">
                        <a href="javascript:void(0)">
                            <img src="style/images/d03110162390422bb97cebc7fd2ab586.jpg" width="612" height="160"
                                 alt="出北京记——第一站厦门"/>
                        </a>
                    </li>
                </ul>
                <!--轮播图 右侧-->
                <div class="banner_control">
                    <em></em>
                    <ul class="thumbs">
                        <li class="thumbs_1 current">
                            <i></i>
                            <img src="style/images/4469b1b83b1f46c7adec255c4b1e4802.jpg" width="113" height="42"/>
                        </li>
                        <li class="thumbs_2">
                            <i></i>
                            <img src="style/images/381b343557774270a508206b3a725f39.jpg" width="113" height="42"/>
                        </li>
                        <li class="thumbs_3">
                            <i></i>
                            <img src="style/images/354d445c5fd84f1990b91eb559677eb5.jpg" width="113" height="42"/>
                        </li>
                    </ul>
                </div>
            </div>
            <!--轮播图 end-->

            <!--轮播图下面的六张图片广告-->
            <ul id="da-thumbs" class="da-thumbs">
                <li>
                    <a href="javascript:void(0)">
                        <img src="style/images/a254b11ecead45bda166afa8aaa9c8bc.jpg" width="113" height="113" alt="联想"/>
                        <div class="hot_info">
                            <h2 title="联想">联想</h2>
                            <em></em>
                            <p title="世界因联想更美好">
                                世界因联想更美好
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="style/images/c75654bc2ab141df8218983cfe5c89f9.jpg" width="113" height="113" alt="淘米"/>
                        <div class="hot_info">
                            <h2 title="淘米">淘米</h2>
                            <em></em>
                            <p title="将心注入 追求极致">
                                将心注入 追求极致
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="style/images/2bba2b71d0b0443eaea1774f7ee17c9f.png" width="113" height="113"
                             alt="优酷土豆"/>
                        <div class="hot_info">
                            <h2 title="优酷土豆">优酷土豆</h2>
                            <em></em>
                            <p title="专注于视频领域，是中国网络视频行业领军企业">
                                专注于视频领域，是中国网络视频行业领军企业
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="style/images/f4822a445a8b495ebad81fcfad3e40e2.jpg" width="113" height="113"
                             alt="思特沃克"/>
                        <div class="hot_info">
                            <h2 title="思特沃克">思特沃克</h2>
                            <em></em>
                            <p title="一家全球信息技术服务公司">
                                一家全球信息技术服务公司
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="style/images/5caf8f9631114bf990f87bb11360653e.png" width="113" height="113" alt="奇猫"/>
                        <div class="hot_info">
                            <h2 title="奇猫">奇猫</h2>
                            <em></em>
                            <p title="专注于移动互联网、互联网产品研发">
                                专注于移动互联网、互联网产品研发
                            </p>
                        </div>
                    </a>
                </li>
                <li class="last">
                    <a href="javascript:void(0)">
                        <img src="style/images/c0052c69ef4546c3b7d08366d0744974.jpg" width="113" height="113"
                             alt="堆糖网"/>
                        <div class="hot_info">
                            <h2 title="堆糖网">堆糖网</h2>
                            <em></em>
                            <p title="分享收集生活中的美好，遇见世界上的另外一个你">
                                分享收集生活中的美好，遇见世界上的另外一个你
                            </p>
                        </div>
                    </a>
                </li>
            </ul>

            <!--主体 推荐的职位列表-->
            <div id="hotList">
                <ul class="hot_pos reset">
                    <!--运营总监-->
                    <li class="clearfix">
                        <div class="hot_pos_l">
                            <div class="mb10">
                                <a href="/jobs?positionId=1">运营总监</a>
                                &nbsp;
                                <span class="c9">[北京]</span>
                            </div>
                            <span><em class="c7">月薪： </em>15k-20k</span>
                            <span><em class="c7">经验：</em> 3-5年</span>
                            <span><em class="c7">最低学历： </em>本科</span>
                            <br/>
                            <span><em class="c7">职位诱惑：</em>发展前景好</span>
                            <br/>
                            <span>发布时间：2019-12-13</span>
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10 recompany">
                                <a href="/company?companyId=1">节操精选</a>
                            </div>
                            <span><em class="c7">领域：</em> 移动互联网</span>
                            <span><em class="c7">创始人：</em>陈桦</span>
                            <br/>
                            <span><em class="c7">阶段：</em> 初创型(天使轮)</span>
                            <span><em class="c7">规模：</em>少于15人</span>
                            <ul class="companyTags reset">
                                <li>移动互联网</li>
                                <li>五险一金</li>
                                <li>扁平管理</li>
                            </ul>
                        </div>
                    </li>
                    <!--售前工程师-->
                    <li class="odd clearfix">
                        <div class="hot_pos_l">
                            <div class="mb10">
                                <a href="/jobs?positionId=2" target="_blank">售前工程师</a>
                                &nbsp;
                                <span class="c9">[北京]</span>
                            </div>
                            <span><em class="c7">月薪： </em>6k-12k</span>
                            <span><em class="c7">经验：</em> da</span>
                            <span><em class="c7">最低学历： </em>大专</span>
                            <br/>
                            <span><em class="c7">职位诱惑：</em>五险一金+商业保险+带薪年假+奖金等</span>
                            <br/>
                            <span>发布时间：2019-12-13</span>
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10 recompany">
                                <a href="/company?companyId=2" target="_blank">监控宝</a>
                            </div>
                            <span><em class="c7">领域：</em> 云计算\大数据</span>
                            <br/>
                            <span><em class="c7">阶段：</em> 成长型(A轮)</span>
                            <span><em class="c7">规模：</em>50-150人</span>
                            <ul class="companyTags reset">
                                <li>五险一金</li>
                                <li>福利好</li>
                                <li>商业险</li>
                            </ul>
                        </div>
                    </li>
                    <!--手机游戏运营-->
                    <li class="clearfix">
                        <div class="hot_pos_l">
                            <div class="mb10">
                                <a href="/jobs?positionId=3" target="_blank">手机游戏运营</a>
                                &nbsp;
                                <span class="c9">[南京]</span>
                            </div>
                            <span><em class="c7">月薪： </em>4k-8k</span>
                            <span><em class="c7">经验：</em> 1-3年</span>
                            <span><em class="c7">最低学历： </em>本科</span>
                            <br/>
                            <span><em class="c7">职位诱惑：</em>工作氛围和谐~正面激励成长~福利好~</span>
                            <br/>
                            <span>发布时间：2019-12-13</span>
                            <!-- <a  class="wb">分享到微博</a> -->
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10 recompany">
                                <a href="/company?companyId=3" target="_blank">爱游戏</a>
                            </div>
                            <span><em class="c7">领域：</em> 1</span>
                            <br/>
                            <span><em class="c7">阶段：</em> 初创型(未融资)</span>
                            <span><em class="c7">规模：</em>150-500人</span>
                            <ul class="companyTags reset">
                                <li>绩效奖金</li>
                                <li>年底双薪</li>
                                <li>五险一金</li>
                            </ul>
                        </div>
                    </li>
                    <!--葡萄酒内容运营专员-->
                    <li class="odd clearfix">
                        <div class="hot_pos_l">
                            <div class="mb10">
                                <a href="/jobs?positionId=4" target="_blank">葡萄酒内容运营专员</a>
                                &nbsp;
                                <span class="c9">[广州]</span>
                            </div>
                            <span><em class="c7">月薪： </em>5k-8k</span>
                            <span><em class="c7">经验：</em> 1-3年</span>
                            <span><em class="c7">最低学历： </em>本科</span>
                            <br/>
                            <span><em class="c7">职位诱惑：</em>喝着世界美酒快乐地工作！</span>
                            <br/>
                            <span>发布时间：2019-12-13</span>
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10 recompany">
                                <a href="/company?companyId=3" target="_blank">酒咔嚓</a>
                            </div>
                            <span><em class="c7">领域：</em> 移动互联网,生活服务</span>
                            <br/>
                            <span><em class="c7">阶段：</em> 初创型(天使轮)</span>
                            <span><em class="c7">规模：</em>15-50人</span>
                            <ul class="companyTags reset">
                                <li>五险一金</li>
                                <li>股票期权</li>
                                <li>带薪年假</li>
                            </ul>
                        </div>
                    </li>
                    <!--百度移动游戏UI designer -->
                    <li class="clearfix">
                        <div class="hot_pos_l">
                            <div class="mb10">
                                <a href="/jobs?positionId=5" target="_blank">百度移动游戏UI designer</a>
                                &nbsp;
                                <span class="c9">[北京]</span>
                            </div>
                            <span><em class="c7">月薪： </em>7k-14k</span>
                            <span><em class="c7">经验：</em> 1-3年</span>
                            <span><em class="c7">最低学历： </em>本科</span>
                            <br/>
                            <span><em class="c7">职位诱惑：</em>喜欢游戏，喜欢生活，游戏生活~</span>
                            <br/>
                            <span>发布时间：2019-12-13</span>
                            <!-- <a  class="wb">分享到微博</a> -->
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10 recompany">
                                <a href="/company?companyId=5" target="_blank">百度移动游戏</a>
                            </div>
                            <span><em class="c7">领域：</em> 移动互联网</span>
                            <br/>
                            <span><em class="c7">阶段：</em> 上市公司</span>
                            <span><em class="c7">规模：</em>2000人以上</span>
                            <ul class="companyTags reset">
                                <li>年终分红</li>
                                <li>绩效奖金</li>
                                <li>股票期权</li>
                            </ul>
                        </div>
                    </li>
                    <!--iOS-->
                    <li class="odd clearfix">
                        <div class="hot_pos_l">
                            <div class="mb10">
                                <a href="/jobs?positionId=6" target="_blank">IOS</a>
                                &nbsp;
                                <span class="c9">[北京]</span>
                            </div>
                            <span><em class="c7">月薪： </em>13k-26k</span>
                            <span><em class="c7">经验：</em> 不限</span>
                            <span><em class="c7">最低学历： </em>本科</span>
                            <br/>
                            <span><em class="c7">职位诱惑：</em>中国第一智能手机广告平台</span>
                            <br/>
                            <span>发布时间：2019-12-13</span>
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10 recompany">
                                <a href="/company?companyId=6" target="_blank">多盟domob</a>
                            </div>
                            <span><em class="c7">领域：</em> 移动互联网</span>1
                            <br/>
                            <span><em class="c7">阶段：</em> 成长型(B轮)</span>
                            <span><em class="c7">规模：</em>150-500人</span>
                            <ul class="companyTags reset">
                                <li>绩效奖金</li>
                                <li>股票期权</li>
                                <li>年底双薪</li>
                            </ul>
                        </div>
                    </li>
                    <!--Java -->
                    <li class="clearfix">
                        <div class="hot_pos_l">
                            <div class="mb10">
                                <a href="/jobs?positionId=7" target="_blank">Java</a>
                                &nbsp;
                                <span class="c9">[北京]</span>
                            </div>
                            <span><em class="c7">月薪： </em>15k-25k</span>
                            <span><em class="c7">经验：</em> 1-3年</span>
                            <span><em class="c7">最低学历： </em>本科</span>
                            <br/>
                            <span><em class="c7">职位诱惑：</em>项目快速发展，技术氛围浓厚，有业界大牛</span>
                            <br/>
                            <span>发布时间：2019-12-13</span>
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10 recompany">
                                <a href="/company?companyId=7" target="_blank">搜狗</a>
                            </div>
                            <span><em class="c7">领域：</em> 移动互联网,搜索</span>
                            <br/>b21b
                            <span><em class="c7">阶段：</em> 初创型(未融资)</span>
                            <span><em class="c7">规模：</em>2000人以上</span>
                            <ul class="companyTags reset">
                                <li>五险一金</li>
                                <li>带薪年假</li>
                                <li>午餐补助</li>
                            </ul>
                        </div>
                    </li>
                    <!--web前端-->
                    <li class="odd clearfix">
                        <div class="hot_pos_l">
                            <div class="mb10">
                                <a href="/jobs?positionId=8" target="_blank">web前端</a>
                                &nbsp;
                                <span class="c9">[上海]</span>
                            </div>
                            <span><em class="c7">月薪： </em>6k-12k</span>
                            <span><em class="c7">经验：</em> 1-3年</span>
                            <span><em class="c7">最低学历： </em>本科</span>
                            <br/>
                            <span><em class="c7">职位诱惑：</em>靠谱的工程师要来靠谱的公司</span>
                            <br/>1
                            <span>发布时间：2019-12-13</span>
                            <!-- <a  class="wb">分享到微博</a> -->
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10 recompany">
                                <a href="/company?companyId=8" target="_blank">杰派网络</a>
                            </div>
                            <span><em class="c7">领域：</em> 移动互联网</span>
                            <br/>
                            <span><em class="c7">阶段：</em> 初创型(天使轮)</span>
                            <span><em class="c7">规模：</em>15-50人</span>
                            <ul class="companyTags reset">
                                <li>股票期权</li>
                                <li>年底双薪</li>
                                <li>绩效奖金</li>
                            </ul>
                        </div>
                    </li>
                    <!--Java  -->
                    <li class="clearfix">
                        <div class="hot_pos_l">
                            <div class="mb10">
                                <a href="/jobs?positionId=9" target="_blank">Java</a>
                                &nbsp;
                                <span class="c9">[杭州]</span>
                            </div>
                            <span><em class="c7">月薪： </em>15k-30k</span>
                            <span><em class="c7">经验：</em> 不限</span>
                            <span><em class="c7">最低学历： </em>本科</span>
                            <br/>
                            <span><em class="c7">职位诱惑：</em>有技术挑战、有成长机会、有漂亮妹子</span>
                            <br/>
                            <span>发布时间：2019-12-13</span>
                            <!-- <a  class="wb">分享到微博</a> -->
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10 recompany">
                                <a href="/company?companyId=9" target="_blank">蘑菇街</a>
                            </div>
                            <span><em class="c7">领域：</em> 电子商务</span>
                            <br/>b
                            <span><em class="c7">阶段：</em> 成熟型(C轮)</span>
                            <span><em class="c7">规模：</em>150-500人</span>
                            <ul class="companyTags reset">
                                <li>管理规范</li>
                                <li>无限零食饮料q</li>
                                <li>轻时尚</li>
                            </ul>
                        </div>
                    </li>
                    <!--测试实习生-->
                    <li class="odd clearfix">
                        <div class="hot_pos_l">
                            <div class="mb10">
                                <a href="/jobs?positionId=10" target="_blank">测试实习生</a>
                                &nbsp;
                                <span class="c9">[上海]</span>
                            </div>
                            <span><em class="c7">月薪： </em>3k-5k</span>
                            <span><em class="c7">经验：</em> 不限</span>
                            <span><em class="c7">最低学历： </em>本科</span>
                            <br/>
                            <span><em class="c7">职位诱惑：</em>实习通过，毕业直接转正，实习期有餐贴</span>
                            <br/>
                            <span>发布时间：2019-12-13</span>
                            <!-- <a  class="wb">分享到微博</a> -->
                        </div>
                        <div class="hot_pos_r">
                            <div class="mb10 recompany">
                                <a href="/company?companyId=10" target="_blank">一铺科技</a>
                            </div>
                            <span><em class="c7">领域：</em> 移动互联网,企业服务</span>
                            <br/>
                            <span><em class="c7">阶段：</em> 成长型(A轮)</span>
                            <span><em class="c7">规模：</em>50-150人</span>
                            <ul class="companyTags reset">
                                <li>单身住宿</li>
                                <li>股票期权</li>
                                <li>午餐补助</li>
                            </ul>
                        </div>
                    </li>

                    <a href="/list?page=1&size=10&position= " class="btn fr">查看更多</a>
                </ul>
            </div>

            <div class="clear"></div>
        </div>
        <script type="text/javascript" src="style/js/Chart.min.js"></script>
        <script type="text/javascript" src="style/js/home.min.js"></script>
        <script type="text/javascript" src="style/js/count.js"></script>
        <div class="clear"></div>
        <input type="hidden" id="resubmitToken" value=""/>
        <a id="backtop" title="回到顶部" rel="nofollow"></a>
    </div>
    <!-- end #container -->
</div>
<!--引入页面底部备案号-->
<div th:replace="public/publicFragment::footer_nav"></div>

<script type="text/javascript" src="style/js/core.min.js"></script>
<script type="text/javascript" src="style/js/popup.min.js"></script>
</body>

</html>