<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>公司介绍-公司认证-伯乐网</title>
    <link href="style/css/style.css" type="text/css" rel="stylesheet">
    <link href="style/css/external.min.css" type="text/css" rel="stylesheet">
    <link href="style/css/popup.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="style/js/jquery.1.10.1.min.js"></script>
    <script src="style/js/jquery.lib.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="style/js/ajaxfileupload.js"></script>
    <script src="style/js/additional-methods.js" type="text/javascript"></script>
	<!--layer.js-->
	<script type="text/javascript" src="style/js/layer/layer.js"></script>
</head>

<body>
<div id="body">
    <!--引入顶部导航栏-->
    <div th:replace="public/publicFragment::company_top_nav"></div>

    <!-- end #header -->
    <div id="container">

        <div class="content_mid">
            <dl class="c_section c_section_mid">
                <dt>
                    <h2><em></em>填写公司信息</h2>
                    <a class="c_addjob" href="javascript:void(0)">&nbsp;</a>
                </dt>
                <dd>
                    <div class="c_text">背景深、规模大、发展快、氛围好…用优势吸引求职者吧！</div>
                    <img width="668" height="56" class="c_steps" alt="第五步" src="style/images/step5.png">

					<h3>公司介绍</h3>
                    <textarea placeholder="请详细描述公司简介、企业文化等" name="companyDescribe" id="companyProfile"></textarea>
                    <div class="clear"></div>
					<!--隐藏域存放用户的id-->
					<input type="hidden" id="userId" name="userId" th:value="${session.user.id}">
					<!--隐藏域存放当前公司id-->
					<input type="hidden" id="companyId" name="companyId" th:value="${session.reg_companyInfo.id}">
                    <input type="button" id="step5Submit" value="保存，完成" class="btn_big fr">

                </dd>
            </dl>
        </div>
        <script src="style/js/step5.min.js" type="text/javascript"></script>

        <div class="clear"></div>
        <input type="hidden" value="" id="resubmitToken">
        <a rel="nofollow" title="回到顶部" id="backtop" style="display: none;"></a>
    </div>
    <!-- end #container -->
</div>

<!--引入页面底部备案号-->
<div th:replace="public/publicFragment::footer_nav"></div>
</div>

<script src="style/js/core.min.js" type="text/javascript"></script>
<script src="style/js/popup.min.js" type="text/javascript"></script>
</body>

</html>