<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title> 职位发布成功-伯乐网</title>
    <link href="style/css/style.css" type="text/css" rel="stylesheet">
    <link href="style/css/external.min.css" type="text/css" rel="stylesheet">
    <link href="style/css/popup.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="style/js/jquery.1.10.1.min.js"></script>
    <script src="style/js/jquery.lib.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="style/js/ajaxfileupload.js"></script>
    <script src="style/js/additional-methods.js" type="text/javascript"></script>
</head>

<body>
<div id="body">

    <!--引入顶部导航栏-->
	<div th:replace="public/publicFragment::top_nav_publishJob"></div>
    <!-- 顶部导航栏 end -->




    <div id="container">
		<!--左侧边栏-->
        <div class="sidebar">
			<input type="hidden" id="companyId" th:value="${session.company.companyInfo.id}">
            <a class="btn_create" href="/create">发布新职位</a>

            <!--我发布的职位-->
			<dl class="company_center_aside">
                <dt>我发布的职位</dt>
                <dd id="effectivePosition">
                    <a href="javascript:void(0)">有效职位</a>
                </dd>
                <dd id="invalidPosition">
                    <a href="javascript:void(0)">已下线职位</a>
                </dd>
				<script>
					//点击有效职位
					$("#effectivePosition").click(function () {
						//获取公司ID
						var companyId=$("#companyId").val();
						//跳转到有效职位页面
						location.href="/effective?companyId="+companyId;
						return false;
					});
					//点击无效职位
					$("#invalidPosition").click(function () {
                        //获取公司ID
                        var companyId=$("#companyId").val();
                        //跳转到下线的职位页面
                        location.href="/invalid?companyId="+companyId;
                        return false;
					});
				</script>
            </dl>
        </div>
        <!--左侧边栏end-->

		<!--主体内容-->
        <div class="content">
            <dl class="company_center_content">
                <dt>
                    <h1>
                        <em></em>
                        发布新职位
                    </h1>
                </dt>
                <dd>
                    <div class="publish_tip">
                        <h2>恭喜你，职位发布成功！</h2>
                        <!--隐藏域存放当前登陆人ID-->
                        <input type="hidden" id="userId" th:value="${session.user.id}">

                        <a class="greylink" href="/create">继续发布新职位</a><br>
                        <a class="greylink tomyhome" href="javascript:void(0)"> 进入我的公司主页</a><br>
                        <script>
                            //进入到公司主页
                            $(".tomyhome").click(function () {
                                //获取用户id
                                var userId = $("#userId").val();
                                location.href = "/myhome?" + "userId=" + userId;
                            });
                        </script>
                    </div>
                </dd>
            </dl>
        </div>
        <!-- 主体内容end -->


        <script charset="utf-8" src="style/js/jia.js" type="text/javascript"></script>
        <div class="clear"></div>
    </div>
    <!-- end #container -->
</div>
<!-- end #body -->
<!--引入页面底部备案号-->
<div th:replace="public/publicFragment::footer_nav"></div>

<script src="style/js/core.min.js" type="text/javascript"></script>
<script src="style/js/popup.min.js" type="text/javascript"></script>
</body>

</html>