<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>公司产品-公司认证-伯乐网</title>
    <link href="style/css/style.css" type="text/css" rel="stylesheet">
    <link href="style/css/external.min.css" type="text/css" rel="stylesheet">
    <link href="style/css/popup.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="style/js/jquery.1.10.1.min.js"></script>
    <script src="style/js/jquery.lib.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="style/js/ajaxfileupload.js"></script>
    <script src="style/js/additional-methods.js" type="text/javascript"></script>
    <!--layer.js-->
    <script type="text/javascript" src="style/js/layer/layer.js"></script>
</head>

<body>
<div id="body">
    <!--引入顶部导航栏-->
    <div th:replace="public/publicFragment::company_top_nav"></div>

    <!--主体部分-->
    <div id="container">
        <div class="content_mid">
            <dl class="c_section c_section_mid">
                <dt>
                    <h2><em></em>填写公司信息</h2>
                    <a class="c_addjob" href="javascript:void(0)">&nbsp;</a>
                </dt>
                <dd>
                    <div class="c_text">目标明确、前途光明的产品是吸引求职者的制胜法宝哦！</div>
                    <img width="668" height="56" class="c_steps" alt="第四步" src="style/images/step4.png">

                    <form method="post" action="" id="productForm">
						<!--隐藏域存放当前公司id-->
<!--						<input type="hidden" id="companyId" name="companyId" th:value="${session.reg_companyInfo.id}">-->
                        <div id="productDiv">
                            <div class="formWrapper">
                                <h3>产品海报</h3>
                                <div class="new_product mt20">
                                    <div id="productNo0" class="product_upload">
                                        <div style="background-color: rgb(147, 183, 187);">
                                            <span>上传产品图片</span>
                                            <br> 尺寸：380*220px 大小：小于5M
                                        </div>
                                    </div>
                                    <div id="productShow0" class="product_upload dn productShow">
                                        <img width="380" height="220" src="">
                                        <span>更换产品图片<br>380*220px 小于5M</span>
                                    </div>
                                    <input type="file" title="支持jpg、jpeg、gif、png格式，文件小于5M"
                                           onchange="img_check(this,'http://www.lagou.com/c/upload.json',380,220,5,'myfiles0','myfiles0_error','productNo0','productShow0','type0','productInfos0');"
                                           name="myfiles" id="myfiles0">
                                    <input type="hidden" value="3" name="productInfos[0].type" id="type0">
                                    <input type="hidden" name="productInfos[0].productPicUrl" id="productInfos0">
                                </div>
                                <span style="display:none;" id="myfiles0_error" class="error"></span>

                                <h3>产品名称</h3>
                                <input type="text" placeholder="请输入产品名称" name="productInfos[0].product" id="name0">

                                <h3>产品地址</h3>
                                <input type="text" placeholder="请输入产品主页URL或产品下载地址" name="productInfos[0].productUrl"
                                       id="address0">

                                <h3>产品简介</h3>
                                <textarea placeholder="请简短描述该产品定位、产品特色、用户群体等" maxlength="1000"
                                          name="productInfos[0].productProfile" id="description0"></textarea>
                                <div class="word_count">你还可以输入 <span>500</span> 字</div>
                            </div>
                        </div>
                        <a id="addMember" class="add_member" href="javascript:void(0)"><i></i>继续添加公司产品</a>
                        <div class="clear"></div>
                        <input type="submit" value="保存，下一步" id="step4Submit" class="btn_big fr">
                    </form>
                </dd>
            </dl>
        </div>

        <script src="style/js/step4.min.js" type="text/javascript"></script>
        <div class="clear"></div>
        <input type="hidden" value="8f79f658e49846ae89d90a3f1590f12e" id="resubmitToken">
        <a rel="nofollow" title="回到顶部" id="backtop" style="display: none;"></a>
    </div>
</div>

<!--引入页面底部备案号-->
<div th:replace="public/publicFragment::footer_nav"></div>

<script src="style/js/core.min.js" type="text/javascript"></script>
<script src="style/js/popup.min.js" type="text/javascript"></script>

</body>

</html>