<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script id="allmobilize" charset="utf-8" src="style/js/allmobilize.min.js"></script>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate" media="handheld"/>
    <!-- end 云适配 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>职位搜索-伯乐网</title>
    <meta property="qc:admins" content="23635710066417756375"/>
    <meta name="baidu-site-verification" content="QIQ6KC1oZ6"/>

    <script type="text/javascript">
        var ctx = "h";
        console.log(1);
    </script>
    <link rel="stylesheet" type="text/css" href="style/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="style/css/external.min.css"/>
    <link rel="stylesheet" type="text/css" href="style/css/popup.css"/>
    <script src="style/js/jquery.1.10.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="style/js/jquery.lib.min.js"></script>
    <script src="style/js/ajaxfileupload.js" type="text/javascript"></script>
    <script type="text/javascript" src="style/js/additional-methods.js"></script>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="style/js/excanvas.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var youdao_conv_id = 271546;
    </script>
    <script type="text/javascript" src="style/js/conv.js"></script>
    <!--layer.js-->
    <script type="text/javascript" src="style/js/layer/layer.js"></script>
    <style>
        .sele{
            background: #019875;
        }
    </style>
</head>

<body>
<!--隐藏域 存放用户输入的搜索条件(职位名称) -->
<input type="hidden" id="positionName" th:value="${session.jobItem.positionName}">
<!--隐藏域 存放分页查询 当前页数-->
<input type="hidden" id="page" th:value="${session.jobItem.page}">
<!--隐藏域 存放分页查询 存放总页数-->
<input type="hidden" id="pageCount" th:value="${session.jobItem.pageCount}">
<!--隐藏域 存放分页查询 存放总记录数-->
<input type="hidden" id="total" th:value="${session.jobItem.total}">
<!--隐藏域 存放分登陆人id-->
<input type="hidden" id="userId" th:value="${session.user.id}" th:if="${session.user!=null}">
<input type="hidden" id="userId" value="" th:if="${session.user==null}">

<div id="body">

    <!--引入顶部导航栏-->
    <div id="header" th:fragment="common_top_nav">
        <div class="wrapper">
            <a href="/index" class="logo">
                <img src="style/images/logo.png" width="229" height="43" alt="伯乐网-专注互联网招聘"/>
            </a>
            <ul class="reset" id="navheader">
                <li>
                    <a href="/index">首页</a>
                </li>
                <li>
                    <a href="/companyList?page=1&size=9&companyName=&city=全国&stage=&field=" style="margin-left: 50px">搜索公司</a>
                </li>
                <li th:if="${session.user != null}" class="jianli">
                    <a href="javascript:void(0)" rel="nofollow" style="margin-left: 50px">我的简历</a>
                </li>
            </ul>
            <!--未登陆显示登陆注册-->
            <ul class="loginTop" th:if="${session.user}==null">
                <li>
                    <a href="/loginPage" rel="nofollow">登录</a>
                </li>
                <li>|</li>
                <li>
                    <a href="/registerPage" rel="nofollow">注册</a>
                </li>
            </ul>
            <!--已经登陆显示下拉列表-->
            <dl class="collapsible_menu" th:if="${session.user}!=null">
                <dt>
                    <span th:text="${session.user.phone}">路人甲</span>
                    <span class="red dn" id="noticeDot-0"></span>
                    <i></i>
                </dt>
                <dd class="jianli">
                    <a rel="nofollow" href="javascript:void(0)">我的简历</a>
                </dd>
                <dd>
                    <a th:href="'/selectCollections?userId='+${session.user.id}">我收藏的职位</a>
                </dd>
                <dd>
                    <a th:href="'/myToudi?userId='+${session.user.id}">我投递的职位 <span id="noticeNo" class="red dn">(0)</span></a>
                </dd>
                <dd>
                    <a href="/setting">帐号设置</a>
                </dd>
                <dd class="logout">
                    <a rel="nofollow" href="/logout">退出</a>
                </dd>
            </dl>
            <script>
                //前往简历页面
                $(".jianli").click(function () {
                    //获取当前用户ID
                    var userId=$("#userId").val();
                    location.href="/jianli?userId="+userId;
                });
            </script>
        </div>
    </div>
    <!--顶部导航栏 end-->
    <div id="container">

        <!--左边条件选择框-->
        <div class="sidebar">
            <div id="options" class="greybg">
                <form method="get" action="/listSelect">
                    <input type="hidden" id="page" name="page" value="1" th:if="${session.jobItem==null || session.jobItem.page==null || session.jobItem.page==''}">
                    <input type="hidden" id="page" name="page" th:value="${session.jobItem.page}" th:if="${session.jobItem!=null && session.jobItem.page!=null && session.jobItem.page!=''}">
                    <input type="hidden" id="size" name="size" value="10">

                    <input type="hidden" id="position" name="position" th:value="${session.jobItem.positionName}" th:if="${session.jobItem.positionName!=null && session.jobItem.positionName!=''}">
                    <input type="hidden" id="salary" name="salary" th:value="${session.jobItem.salary}" th:if="${session.jobItem.salary!=null && session.jobItem.salary!=''}">
                    <input type="hidden" id="suffer" name="suffer" th:value="${session.jobItem.suffer}" th:if="${session.jobItem.suffer!=null && session.jobItem.suffer!=''}">
                    <input type="hidden" id="education" name="education" th:value="${session.jobItem.education}" th:if="${session.jobItem.education!=null && session.jobItem.education!=''}">
                    <input type="hidden" id="jobType" name="jobType" th:value="${session.jobItem.jobType}" th:if="${session.jobItem.jobType!=null && session.jobItem.jobType!=''}">

                    <input type="hidden" id="position" name="position" value="" th:if="${session.jobItem==null || session.jobItem.positionName==null || session.jobItem.positionName==''}">
                    <input type="hidden" id="salary" name="salary" value="" th:if="${session.jobItem==null || session.jobItem.salary==null || session.jobItem.salary==''}">
                    <input type="hidden" id="suffer" name="suffer" value="" th:if="${session.jobItem==null || session.jobItem.suffer==null || session.jobItem.suffer==''}">
                    <input type="hidden" id="education" name="education" value="" th:if="${session.jobItem==null || session.jobItem.education==null || session.jobItem.education==''}">
                    <input type="hidden" id="jobType" name="jobType" value="" th:if="${session.jobItem==null || session.jobItem.jobType==null || session.jobItem.jobType==''}">

                    <input type="submit" id="hidden_select" hidden >

                </form>
                <dl>
                    <dt>月薪范围 <em></em></dt>
                    <dd>
                        <div class="" onclick="salarySelect(this)" th:if="${session.jobItem.salary!='2K以下'}">2K以下</div>
                        <div class="sele" onclick="salarySelect(this)" th:if="${session.jobItem.salary=='2K以下'}">2K以下</div>
                        <div class="" onclick="salarySelect(this)" th:if="${session.jobItem.salary!='2K-5K'}">2K-5K</div>
                        <div class="sele" onclick="salarySelect(this)" th:if="${session.jobItem.salary=='2K-5K'}">2K-5K</div>
                        <div class="" onclick="salarySelect(this)" th:if="${session.jobItem.salary!='5K-10K'}">5K-10K</div>
                        <div class="sele" onclick="salarySelect(this)" th:if="${session.jobItem.salary=='5K-10K'}">5K-10K</div>
                        <div class="" onclick="salarySelect(this)" th:if="${session.jobItem.salary!='10K-15K'}">10K-15K</div>
                        <div class="sele" onclick="salarySelect(this)" th:if="${session.jobItem.salary=='10K-15K'}">10K-15K</div>
                        <div class="" onclick="salarySelect(this)" th:if="${session.jobItem.salary!='15K-25K'}">15K-25K</div>
                        <div class="sele" onclick="salarySelect(this)" th:if="${session.jobItem.salary=='15K-25K'}">15K-25K</div>
                        <div class="" onclick="salarySelect(this)" th:if="${session.jobItem.salary!='25K-50K'}">25K-50K</div>
                        <div class="sele" onclick="salarySelect(this)" th:if="${session.jobItem.salary=='25K-50K'}">25K-50K</div>
                        <div class="" onclick="salarySelect(this)" th:if="${session.jobItem.salary!='50K以上'}">50K以上</div>
                        <div class="sele" onclick="salarySelect(this)" th:if="${session.jobItem.salary=='50K以上'}">50K以上</div>
                    </dd>
                </dl>
                <dl>
                    <dt>工作经验 <em></em></dt>
                    <dd>
                        <div class="" onclick="sufferSelect(this)" th:if="${session.jobItem.suffer!='不限'}">不限</div>
                        <div class="sele" onclick="sufferSelect(this)" th:if="${session.jobItem.suffer=='不限'}">不限</div>
                        <div class="" onclick="sufferSelect(this)" th:if="${session.jobItem.suffer!='应届毕业生'}">应届毕业生</div>
                        <div class="sele" onclick="sufferSelect(this)" th:if="${session.jobItem.suffer=='应届毕业生'}">应届毕业生</div>
                        <div class="" onclick="sufferSelect(this)" th:if="${session.jobItem.suffer!='1年以下'}">1年以下</div>
                        <div class="sele" onclick="sufferSelect(this)" th:if="${session.jobItem.suffer=='1年以下'}">1年以下</div>
                        <div class="" onclick="sufferSelect(this)" th:if="${session.jobItem.suffer!='1-3年'}">1-3年</div>
                        <div class="sele" onclick="sufferSelect(this)" th:if="${session.jobItem.suffer=='1-3年'}">1-3年</div>
                        <div class="" onclick="sufferSelect(this)" th:if="${session.jobItem.suffer!='3-5年'}">3-5年</div>
                        <div class="sele" onclick="sufferSelect(this)" th:if="${session.jobItem.suffer=='3-5年'}">3-5年</div>
                        <div class="" onclick="sufferSelect(this)" th:if="${session.jobItem.suffer!='5-10年'}">5-10年</div>
                        <div class="sele" onclick="sufferSelect(this)" th:if="${session.jobItem.suffer=='5-10年'}">5-10年</div>
                        <div class="" onclick="sufferSelect(this)" th:if="${session.jobItem.suffer!='10年以上'}">10年以上</div>
                        <div class="sele" onclick="sufferSelect(this)" th:if="${session.jobItem.suffer=='10年以上'}">10年以上</div>

                    </dd>
                </dl>
                <dl>
                    <dt>最低学历 <em></em></dt>
                    <dd>
                        <div class="" onclick="educationSelect(this)" th:if="${session.jobItem.education!='不限'}">不限</div>
                        <div class="sele" onclick="educationSelect(this)" th:if="${session.jobItem.education=='不限'}">不限</div>
                        <div class="" onclick="educationSelect(this)" th:if="${session.jobItem.education!='大专'}">大专</div>
                        <div class="sele" onclick="educationSelect(this)" th:if="${session.jobItem.education=='大专'}">大专</div>
                        <div class="" onclick="educationSelect(this)" th:if="${session.jobItem.education!='本科'}">本科</div>
                        <div class="sele" onclick="educationSelect(this)" th:if="${session.jobItem.education=='本科'}">本科</div>
                        <div class="" onclick="educationSelect(this)" th:if="${session.jobItem.education!='硕士'}">硕士</div>
                        <div class="sele" onclick="educationSelect(this)" th:if="${session.jobItem.education=='硕士'}">硕士</div>
                        <div class="" onclick="educationSelect(this)" th:if="${session.jobItem.education!='博士'}">博士</div>
                        <div class="sele" onclick="educationSelect(this)" th:if="${session.jobItem.education=='博士'}">博士</div>
                    </dd>
                </dl>
                <dl>
                    <dt>工作性质 <em></em></dt>
                    <dd>
                        <div class="" onclick="jobTypeSelect(this)" th:if="${session.jobItem.jobType!='全职'}">全职</div>
                        <div class="sele" onclick="jobTypeSelect(this)" th:if="${session.jobItem.jobType=='全职'}">全职</div>
                        <div class="" onclick="jobTypeSelect(this)" th:if="${session.jobItem.jobType!='兼职'}">兼职</div>
                        <div class="sele" onclick="jobTypeSelect(this)" th:if="${session.jobItem.jobType=='兼职'}">兼职</div>
                        <div class="" onclick="jobTypeSelect(this)" th:if="${session.jobItem.jobType!='实习'}">实习</div>
                        <div class="sele" onclick="jobTypeSelect(this)" th:if="${session.jobItem.jobType=='实习'}">实习</div>
                    </dd>
                </dl>
                <script>
                    //选择月薪范围
                    function salarySelect(t) {
                        //如果自己已经被选中，再次点击取消选中
                        if ($(t).hasClass("sele")){
                            $(t).removeClass("sele");
                            //重新查询
                            $("#salary").val('');//清空val值
                            $("#hidden_select").click();
                            return false;
                        }

                        //将所有兄弟节点取消选中
                        var child=$(t).parent().children();
                        for (var i=0;i<child.length;i++){
                            $(child[i]).removeClass("sele");
                        }
                        //选中点击的自己
                        $(t).addClass("sele");
                        //重新查询
                        $("#salary").val($(t).text().trim());
                        $("#hidden_select").click();
                        return false;
                    }
                    //选择工作经验
                    function sufferSelect(t) {
                        //如果自己已经被选中，再次点击取消选中
                        if ($(t).hasClass("sele")){
                            $(t).removeClass("sele");
                            //重新查询
                            $("#suffer").val('');//清空val值
                            $("#hidden_select").click();
                            return false;
                        }

                        //将所有兄弟节点取消选中
                        var child=$(t).parent().children();
                        for (var i=0;i<child.length;i++){
                            $(child[i]).removeClass("sele");
                        }
                        //选中点击的自己
                        $(t).addClass("sele");
                        //重新查询
                        $("#suffer").val($(t).text().trim());
                        $("#hidden_select").click();
                        return false;
                    }
                    //选择最低学历
                    function educationSelect(t) {
                        //如果自己已经被选中，再次点击取消选中
                        if ($(t).hasClass("sele")){
                            $(t).removeClass("sele");
                            //重新查询
                            $("#education").val('');//清空val值
                            $("#hidden_select").click();
                            return false;
                        }

                        //将所有兄弟节点取消选中
                        var child=$(t).parent().children();
                        for (var i=0;i<child.length;i++){
                            $(child[i]).removeClass("sele");
                        }
                        //选中点击的自己
                        $(t).addClass("sele");
                        //重新查询
                        $("#education").val($(t).text().trim());
                        $("#hidden_select").click();
                        return false;
                    }
                    //选择工作性质
                    function jobTypeSelect(t) {
                        //如果自己已经被选中，再次点击取消选中
                        if ($(t).hasClass("sele")){
                            $(t).removeClass("sele");
                            //重新查询
                            $("#jobType").val('');//清空val值
                            $("#hidden_select").click();
                            return false;
                        }

                        //将所有兄弟节点取消选中
                        var child=$(t).parent().children();
                        for (var i=0;i<child.length;i++){
                            $(child[i]).removeClass("sele");
                        }
                        //选中点击的自己
                        $(t).addClass("sele");
                        //重新查询
                        $("#jobType").val($(t).text().trim());
                        $("#hidden_select").click();
                        return false;
                    }

                </script>
            </div>

            <!-- 对外合作广告位  -->
            <a href="http://www.w3cplus.com/" target="_blank" class="partnersAd">
                <img src="style/images/w3cplus.png" width="230" height="80" alt="w3cplus"/>
            </a>
            <a href="http://ww.jqschool.com" target="_blank" class="partnersAd">
                <img src="style/images/jquery_school.jpg" width="230" height="80" alt="JQ学校"/>
            </a>
            <a href="http://linux.cn/" target="_blank" class="partnersAd">
                <img src="style/images/linuxcn.png" width="230" height="80" alt="Linux中文社区"/>
            </a>
            <a href="http://zt.zhubajie.com/zt/makesite? utm_source=lagou.com&utm_medium=referral&utm_campaign=BD-yl"
               target="_blank" class="partnersAd">
                <img src="style/images/zhubajie.jpg" width="230" height="80" alt="猪八戒"/>
            </a>
            <a href="http://www.imooc.com" target="_blank" class="partnersAd">
                <img src="style/images/muke.jpg" width="230" height="80" alt="幕课网"/>
            </a>
        </div>
        <!--左边条件选择框 end-->

        <div class="content">
            <!--搜索框-->
            <div id="search_box">
                <form id="" name="" action="/list" method="get">
                    <input type="hidden" name="page" value="1">
                    <input type="hidden" name="size" value="10">
                    <ul id="searchType">
                        <li data-searchtype="1" class="type_selected">搜职位</li>
                    </ul>
                    <input type="text" id="search_input" name="position" tabindex="1" th:value="${session.jobItem.positionName}"
                           placeholder="请输入职位名称，如：产品经理"
						   th:if="${session.jobItem!=null && session.jobItem.positionName!=null && session.jobItem.positionName!=''}"/>

					<input type="text" id="search_input" name="position" tabindex="1" value=""
						   placeholder="请输入职位名称，如：产品经理"
						   th:if="${session.jobItem==null || session.jobItem.positionName==null || session.jobItem.positionName==''}"/>
                    <input type="submit" id="search_button" value="搜索"/>
                </form>
            </div>
            <style>
                .ui-autocomplete {
                    width: 488px;
                    background: #fafafa !important;
                    position: relative;
                    z-index: 10;
                    border: 2px solid #91cebe;
                }

                .ui-autocomplete-category {
                    font-size: 16px;
                    color: #999;
                    width: 50px;
                    position: absolute;
                    z-index: 11;
                    right: 0px;
                    /*top: 6px; */
                    text-align: center;
                    border-top: 1px dashed #e5e5e5;
                    padding: 5px 0;
                }

                .ui-menu-item {
                    *width: 439px;
                    vertical-align: middle;
                    position: relative;
                    margin: 0px;
                    margin-right: 50px !important;
                    background: #fff;
                    border-right: 1px dashed #ededed;
                }

                .ui-menu-item a {
                    display: block;
                    overflow: hidden;
                }
            </style>
            <script type="text/javascript" src="style/js/search.min.js"></script>
            <!--搜索框下方 热门搜索-->
            <dl class="hotSearch">
                <dt>热门搜索：</dt>
                <dd>
                    <a href="list?position=Java">Java</a>
                </dd>
                <dd>
                    <a href="list?position=PHP">PHP</a>
                </dd>
                <dd>
                    <a href="list?position=Android">Android</a>
                </dd>
                <dd>
                    <a href="list?position=ios">iOS</a>
                </dd>
                <dd>
                    <a href="list?position=前端">前端</a>
                </dd>
                <dd>
                    <a href="list?position=产品经理">产品经理</a>
                </dd>
                <dd>
                    <a href="list?position=UI">UI</a>
                </dd>
                <dd>
                    <a href="list?position=i运营">运营</a>
                </dd>
                <dd>
                    <a href="list?position=BD">BD</a>
                </dd>
                <dd>
                    <a href="list?position=实习">实习</a>
                </dd>
            </dl>
            <!--热门搜索 end-->

            <div class="breakline"></div>
            <!--工作地点选择-->
            <dl class="workplace" id="workplaceSelect">
                <dt class="fl">工作地点：</dt>
                <dd>
                    <a href="javascript:;" class="current">全国</a>
                    |
                </dd>
                <dd>
                    <a href="javascript:;">北京</a>
                    |
                </dd>
                <dd>
                    <a href="javascript:;">上海</a>
                    |
                </dd>
                <dd>
                    <a href="javascript:;">广州</a>
                    |
                </dd>
                <dd>
                    <a href="javascript:;">深圳</a>
                    |
                </dd>
                <dd>
                    <a href="javascript:;">成都</a>
                    |
                </dd>
                <dd>
                    <a href="javascript:;">杭州</a>
                    |
                </dd>
                <dd>
                    <a href="javascript:;">武汉</a>
                    |
                </dd>
                <dd>
                    <a href="javascript:;">南京</a>
                    |
                </dd>
                <dd class="more">
                    <a href="javascript:;">其他</a>
                    <div class="triangle citymore_arrow"></div>
                </dd>
                <dd id="box_expectCity" class="searchlist_expectCity dn">
                    <span class="bot"></span>
                    <span class="top"></span>
                    <dl>
                        <dt>ABCDEF</dt>
                        <dd>
                            <span>北京</span>
                            <span>长春</span>
                            <span>成都</span>
                            <span>重庆</span>
                            <span>长沙</span>
                            <span>常州</span>
                            <span>东莞</span>
                            <span>大连</span>
                            <span>佛山</span>
                            <span>福州</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>GHIJ</dt>
                        <dd>
                            <span>贵阳</span>
                            <span>广州</span>
                            <span>哈尔滨</span>
                            <span>合肥</span>
                            <span>海口</span>
                            <span>杭州</span>
                            <span>惠州</span>
                            <span>金华</span>
                            <span>济南</span>
                            <span>嘉兴</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>KLMN</dt>
                        <dd>
                            <span>昆明</span>
                            <span>廊坊</span>
                            <span>宁波</span>
                            <span>南昌</span>
                            <span>南京</span>
                            <span>南宁</span>
                            <span>南通</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>OPQR</dt>
                        <dd>
                            <span>青岛</span>
                            <span>泉州</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>STUV</dt>
                        <dd>
                            <span>上海</span>
                            <span>石家庄</span>
                            <span>绍兴</span>
                            <span>沈阳</span>
                            <span>深圳</span>
                            <span>苏州</span>
                            <span>天津</span>
                            <span>太原</span>
                            <span>台州</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>WXYZ</dt>
                        <dd>
                            <span>武汉</span>
                            <span>无锡</span>
                            <span>温州</span>
                            <span>西安</span>
                            <span>厦门</span>
                            <span>烟台</span>
                            <span>珠海</span>
                            <span>中山</span>
                            <span>郑州</span>
                        </dd>
                    </dl>
                </dd>
            </dl>
            <!--工作地点选择 end-->

            <!--查询出来的数据展示-->
            <ul class="hot_pos reset" th:each="item,itemStat:${session.jobItem.positionItemList}">
                <li class="odd clearfix">
                    <div class="hot_pos_l">
                        <div class="mb10">
                            <a th:href="'/jobs?positionId='+${item.position.id}" th:title="${item.position.positionName}" target="_blank">[[${item.position.positionName}]]</a>
                            &nbsp;
                            <span class="c9" th:text="'['+${item.position.workCity}+']'"></span>
                        </div>
                        <span><em class="c7">月薪：</em>[[${item.position.leastSalary}]]K-[[${item.position.mostSalary}]]K</span>
                        <span><em class="c7">经验：</em> [[${item.position.workSuffer}]]</span>
                        <span><em class="c7">最低学历： </em>[[${item.position.education}]]</span>
                        <br/>
                        <span><em class="c7">职位诱惑：</em>[[${item.position.positionTempt}]]</span>
                        <br/>
                        <span>发布时间：[[${item.position.publishTime}]]</span>
                    </div>
                    <div class="hot_pos_r">
                        <div class="apply">
                            <input type="hidden" th:value="${item.position.id}">
                            <a onclick="toudi(this)" href="javascript:void(0)" >投个简历</a>
                        </div>
                        <script>
                            //点击投简历按钮触发事件
                            function toudi(t) {
                                //获取 职位id
                                var positionId = $(t).prev().val().trim();
                                //获取用户ID
                                var userId=$("#userId").val().trim();
                                if(userId==""||userId==null){
                                    layer.alert("请先登陆！",{icon:2});
                                    return false;
                                }
                                $.ajax({
                                    type: "post",
                                    url: "/toudi/" + userId+"/"+positionId,
                                    success: function (result) {
                                        //成功的回调函数
                                        if(result.code==-2){
                                            //没有简历
                                            layer.alert("您无可用的简历，请先添加简历信息",{icon: 2});
                                            return false;
                                        }else if(result.code==-1){
                                            //重读投递
                                            layer.alert("该职位您已经投递过简历，请勿重复投递",{icon: 4});
                                            return false;
                                        } else if (result.code == 0) {
                                            //成功
                                            layer.alert("投递成功！请关注简历投递的最新动态",{icon: 1});
                                            return false;
                                        } else {
                                            layer.alert("系统异常,请稍后再试！", {icon: 5});
                                        }
                                    }
                                });

                            }
                        </script>
                        <div class="mb10">
                            <a th:href="'/company?companyId='+${item.companyInfo.id}" th:title="${item.companyInfo.companyName}" target="_blank">[[${item.companyInfo.companyName}]]</a>
                        </div>
                        <span><em class="c7">领域： </em>[[${item.companyInfo.companyField}]]</span>
                        <br/>
                        <span><em class="c7">阶段： </em>[[${item.companyInfo.companyStage}]]</span>
                        <span><em class="c7">规模： </em>[[${item.companyInfo.companyScale}]]</span>
                        <!--标签-->
                        <ul class="companyTags reset" th:id="'tag'+${itemStat.count}">
							<input type="hidden" th:id="'hiddenTags'+${itemStat.count}" th:value="${item.companyTags.companyTag}">
							<script>
								//获取自增序列
								//获取所有标签字符串
								var tags = $("#hiddenTags[[${itemStat.count}]]").val();
								//字符串分割成为数组
								var tagArr = new Array(); //定义一数组
								tagArr = tags.split(","); //字符分割
								//将标签循环显示在页面上
								for (i = 0; i < tagArr.length; i++) {
									//追加节点
									$("#tag[[${itemStat.count}]]").append('<li><span>' + tagArr[i] + '</span></li>');
								}
							</script>
                        </ul>
                    </div>
                </li>
            </ul>
            <!--查询出来的数据展示 end-->

            <!--分页按钮-->
            <!--
                class="current"表示选中状态
            -->
            <div class="Pagination" id="pageBar" style="float: right;">
                <a href="javascript:void(0)" id="upPage" title="上一页">上一页 </a>
                <a href="javascript:void(0)" id="nextPage" title="下一页">下一页 </a>
            </div>
        </div>


        <script>
            $(function () {
                /***************************
                 * 分页
                 */
                //获取当前页数
                var page=$("#page").val().trim();
                //获取总页数
                var pageCount=$("#pageCount").val().trim();
                //获取总记录数
                var total=$("#total").val().trim();

                //如果是第一页则禁用上一页按钮
                if(parseInt(page)==1){
                    $("#upPage").attr("style","background: #019875;");
                    $("#upPage").attr("disable","true");
                }
                //如果是做后一页，则禁用下一页按钮
                if(parseInt(page)==parseInt(pageCount)||pageCount==0){
                    $("#nextPage").attr("style","background: #019875;");
                    $("#nextPage").attr("disable","true");
                }

                //点击下一页
                $("#nextPage").click(function () {
                    //获取当前页数
                    var page=$("#page").val().trim();
                    //获取总页数
                    var pageCount=$("#pageCount").val().trim();

                    if(page==pageCount||pageCount==0){layer.alert("没有更多数据了",{icon:5}); return false;}

                    //获取用户搜索的条件(职位名称)
                    var positionName=$("#positionName").val().trim();
                    var newpage=parseInt(page)+1
                    //发送查询请求
                    location.href="/list?page="+newpage+"&size=10&position="+positionName;
                });

                //点击上一页
                $("#upPage").click(function () {
                    //获取当前页数
                    var page=$("#page").val().trim();
                    //获取总页数
                    var pageCount=$("#pageCount").val().trim();

                    if(parseInt(page)==1){return false;}

                    //获取用户搜索的条件(职位名称)
                    var positionName=$("#positionName").val().trim();
                    var newpage=parseInt(page)-1
                    //发送查询请求
                    location.href="/list?page="+newpage+"&size=10&position="+positionName;
                });



                /**
                 * search结果飘绿
                 */
                (function ($) {
                    var searchVal = $('#search_input').val();
                    var reg = /\s/g;
                    searchVal = searchVal.replace(reg, "").split("");

                    var resultL = '';
                    var resultR = '';
                    $('.hot_pos li').each(function () {
                        resultL = $('.hot_pos_l a', this).text().split("");
                        $.each(resultL, function (i, v) {
                            if ($.inArray(v.toLowerCase(), searchVal) != -1 || $.inArray(v.toUpperCase(), searchVal) != -1) {
                                resultL[i] = '<span>' + v + '</span>';
                            }
                        });
                        $('.hot_pos_l a', this).html(resultL.join(''));

                        resultR = $('.hot_pos_r .mb10 a', this).text().split("");
                        $.each(resultR, function (i, v) {
                            if ($.inArray(v.toLowerCase(), searchVal) != -1 || $.inArray(v.toUpperCase(), searchVal) != -1) {
                                resultR[i] = '<span>' + v + '</span>';
                            }
                        });
                        $('.hot_pos_r .mb10 a', this).html(resultR.join(''));
                    });

                })(jQuery);

                // $('.Pagination').pager({
                //     currPage: currPage, //1 当前页数
                //     //pageNOName: "pn",
                //     //form: "searchForm",
                //     pageCount: pageCount,//30 总页数
                //     pageSize: total //5 总记录数
                // });

               /* $(".workplace dd").not('.more').children('a').click(function () {
                    $('#lc').val(1);
                    editForm("cityInput", $(this).html());
                });

                $("#box_expectCity dd span").click(function () {
                    $('#lc').val(1);
                    editForm("cityInput", $(this).html());
                });

                $('#options dd div').click(function () {
                    var firstName = $(this).parents('dl').children('dt').text();
                    var fn = $.trim(firstName);
                    if (fn == "月薪范围") {
                        editForm("yxInput", $(this).html());
                    } else if (fn == "工作经验") {
                        editForm("gjInput", $(this).html());
                    } else if (fn == "最低学历") {
                        editForm("xlInput", $(this).html());
                    } else if (fn == "工作性质") {
                        editForm("gxInput", $(this).html());
                    } else if (fn == "发布时间") {
                        editForm("stInput", $(this).html());
                    }
                });

                $('#selected ul').delegate('li span.select_remove', 'click', function (event) {
                    var firstName = $(this).parent('li').find('strong').text();
                    var fn = $.trim(firstName);
                    if (fn == "月薪范围")
                        editForm("yxInput", "");
                    else if (fn == "工作经验")
                        editForm("gjInput", "");
                    else if (fn == "最低学历")
                        editForm("xlInput", "");
                    else if (fn == "工作性质")
                        editForm("gxInput", "");
                    else if (fn == "发布时间")
                        editForm("stInput", "");
                });*/

                // //didi tip
                // if ($.cookie('didiTip') != 1 && false) {
                //     $('#tip_didi').show();
                // }
                // $('#tip_didi a').click(function () {
                //     $(this).parent().remove();
                //     $.cookie('didiTip', 1, {
                //         expires: 30,
                //         path: '/'
                //     });
                // });
            });

            // function editForm(inputId, inputValue) {
            //     $("#" + inputId).val(inputValue);
            //     var keyword = $.trim($('#search_input').val());
            //     var reg = /[`~!@\$%\^\&\*\(\)_<>\?:"\{\},\\\/;'\[\]]/ig;
            //     var re = /#/g;
            //     var r = /\./g;
            //     var kw = keyword.replace(reg, " ");
            //
            //     if (kw == '') {
            //         $('#searchForm').attr('action', 'list.html所有职位').submit();
            //     } else {
            //         kw = kw.replace(re, '井');
            //         kw = kw.replace(r, '。');
            //         $('#searchForm').attr('action', 'list.html' + kw).submit();
            //     }
            //     //$("#searchForm").submit();
            // }
        </script>

        <div class="clear"></div>
        <input type="hidden" id="resubmitToken" value=""/>
        <a id="backtop" title="回到顶部" rel="nofollow"></a>
    </div>
    <!-- end #container -->
</div>
<!-- end #body -->
<!--引入页面底部备案号-->
<div th:replace="public/publicFragment::footer_nav"></div>

<script type="text/javascript" src="style/js/core.min.js"></script>
<script type="text/javascript" src="style/js/popup.min.js"></script>

</body>

</html>