<!DOCTYPE HTML>
<html>

	<head>
		<title>登录-伯乐网</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="style/css/style.css" />
		
		<!--<script id="allmobilize" charset="utf-8" src="style/js/allmobilize.min.js"></script>-->
		<script src="style/js/jquery.1.10.1.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="style/js/jquery.lib.min.js"></script>
		<script type="text/javascript" src="style/js/core.min.js"></script>
		<!--layer.js-->
		<script type="text/javascript" src="style/js/layer/layer.js"></script>
	</head>

	<body id="login_bg">
		<div class="login_wrapper">
			<div class="login_header">
				<a href="h/"><img src="style/images/logo_white.png" width="285" height="62" alt="伯乐网" /></a>
				<div id="cloud_s"><img src="style/images/cloud_s.png" width="81" height="52" alt="cloud" /></div>
				<div id="cloud_m"><img src="style/images/cloud_m.png" width="136" height="95" alt="cloud" /></div>
			</div>

			<input type="hidden" id="resubmitToken" value="" />
			<div class="login_box">
				<form id="loginForm" action="index.html">
					<!--电话号码-->
					<input type="text" id="email" class="phone" name="email" value="" tabindex="1" placeholder="请输入电话号码" />
					<!--密码-->
					<input type="password" id="password" class="pwd" name="password" tabindex="2" placeholder="请输入密码" />
					<!--记住密码-->
					<label class="fl" for="remember">
						<input type="checkbox" id="remember" value="" checked="checked" name="autoLogin" /> 记住我
					</label>
					<!--忘记密码-->
					<a href="reset.html" class="fr" target="_blank">忘记密码？</a>

					<input type="button" id="submitLogin" class="login" value="登 &nbsp; &nbsp; 录" />
					<!--<a style="color:#fff;" href="index.html" class="submitLogin" title="登 &nbsp; &nbsp; 录" />登 &nbsp; &nbsp; 录</a>-->

				</form>
				<div class="login_right">
					<div>还没有伯乐帐号？</div>
					<a href="register.html" class="registor_now">立即注册</a>
				</div>
			</div>
			<div class="login_box_btm"></div>
		</div>

		<script>
			//点击登录按钮
			$(".login").click(function(){
				//获取电话号码
				var phone = $(".phone").val().trim();
				//获取密码
				var pwd = $(".pwd").val().trim();
				
				if(phone == null || phone == "") {
					layer.alert("请输入手机号！", {icon: 2});
					return false;
				}
				if(!(/^1[3456789]\d{9}$/.test(phone))) {
					layer.alert("手机号有误!", {icon: 2});
					return false;
				}
				
				if(pwd == null || pwd == "") {
					layer.alert("请输入密码!", {icon: 2});
					return false;
				}
				if(pwd.length < 6 || pwd.length > 16) {
					layer.alert("密码应长度介于6~16位!", {icon: 2});
					return false;
				}
				
				//数据校验成功，向后端发送和请求
				//TODO
				layer.alert("向后端发送请求，登录", {icon: 1});
				
			});
		</script>
	</body>

</html>