<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>[[${session.company.companyInfo.companyName}]]-伯乐网</title>
    <link href="style/css/style.css" type="text/css" rel="stylesheet">
    <link href="style/css/external.min.css" type="text/css" rel="stylesheet">
    <link href="style/css/popup.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="style/js/jquery.1.10.1.min.js"></script>
    <script src="style/js/jquery.lib.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="style/js/ajaxfileupload.js"></script>
    <script src="style/js/additional-methods.js" type="text/javascript"></script>
    <script src="style/js/ajaxCross.json" charset="UTF-8"></script>
    <!--layer.js-->
    <script type="text/javascript" src="style/js/layer/layer.js"></script>
</head>

<body>
<div id="body">
    <!--引入顶部导航栏-->
    <div th:replace="public/publicFragment::company_top_nav_ok"></div>


    <div id="container">
        <!-- <script src="style/js/swfobject_modified.js" type="text/javascript"></script> -->
        <div class="clearfix">

            <div class="content_l">
                <!--公司logo、基本信息模块-->
                <div class="c_detail">
                    <div style="background-color:#fff;" class="c_logo">
                        <a id="logoShow" href="javascript:void(0)">
                            <input type="hidden" id="hiddenLogo" th:value="${session.company.companyInfo.companyLogo}">
                            <img id="logo" width="190" height="190" alt="公司logo" src="style/images/logo_default.png">
                            <script>
                                $(function () {
                                    //设置logo  /Users/zzr/images/companyPhoto/
                                    $("#logo").attr("src", "companyLogo/" + $("#hiddenLogo").val());
                                })
                            </script>
                        </a>
                    </div>

                    <div class="c_box companyName" style="padding-top: 25px;">
                        <h2 th:text="${session.company.companyInfo.companyName}" id="oldName">才华有限公司</h2>

                        <em class="unvalid"></em>
                        <span class="va dn">已认证公司</span>
                        <div class="clear"></div>


                        <form class="clear editDetail dn" id="editDetailForm">
                            <input type="text" placeholder="请输入公司名称" maxlength="15"
                                   th:value="${session.company.companyInfo.companyName}"
                                   name="companyName" id="companyShortName">
                            <input type="text" placeholder="一句话描述公司愿景，核心价值，限50字" maxlength="50"
                                   th:value="${session.company.companyInfo.reserved2}" name="companyFeatures"
                                   id="companyFeatures">
                            <!--隐藏域，存放公司id-->
                            <input type="hidden" th:value="${session.company.companyInfo.id}" id="companyId"
                                   name="companyId">
                            <!--隐藏域，存放当前登陆人id-->
                            <input type="hidden" th:value="${session.user.id}" id="userId" name="userId">
                            <input type="button" value="保存" id="saveDetail" class="btn_small">
                            <a id="cancelDetail" class="btn_cancel_s">取消</a>
                            <script>
                                //点击保存按钮，跟新数据
                                $("#saveDetail").click(function () {
                                    //获取公司id
                                    var companyId = $("#companyId").val();
                                    //获取当前登陆人id
                                    var userId = $("#userId").val();
                                    //获取公司名称
                                    var newCompanyName = $("#companyShortName").val().trim();
                                    //获取公司愿景
                                    var newReserved2 = $("#companyFeatures").val().trim();
                                    //获取原来的公司名称
                                    var oldCompanyName = $("#oldName").text();
                                    //获取原来的公司愿景
                                    var oldReserved2 = $("#oldReserved").text();
                                    if (newCompanyName == oldCompanyName && newReserved2 == oldReserved2) {
                                        //未作出修改
                                        //点击关闭按钮，关闭输入框
                                        $("#cancelDetail").click();
                                        return false;
                                    }
                                    if (newCompanyName == "" || newCompanyName == null) {
                                        layer.alert("请输入公司名称！", {icon: 2});
                                        return false;
                                    }
                                    if (newReserved2 == "" || newReserved2 == null) {
                                        layer.alert("请输入公司愿景！", {icon: 2});
                                        return false;
                                    }

                                    //如果作出修改，则将修改的内容显示到页面上并关闭输入框
                                    //向后台的送请求
                                    $.ajax({
                                        type: "post",
                                        url: "/resetCompanyName/" + companyId + "/" + userId + "/" + newCompanyName + "/" + newReserved2,
                                        success: function (result) {
                                            //成功的回调函数
                                            if (result.code == 0) {
                                                //修改成功，将修改后的值设置到页面上
                                                $("#oldName").text(newCompanyName);
                                                $("#oldReserved").text(newReserved2);
                                                //显示展示框
                                                $("#cancelDetail").click();
                                                return false;
                                            } else {
                                                //修改失败
                                                layer.alert("系统繁忙，请稍后再试！", {icon: 5});
                                            }
                                        }
                                    });

                                });
                            </script>
                        </form>

                        <div class="clear oneword">
                            <img width="17" height="15" src="style/images/quote_l.png">&nbsp;
                            <span th:text="${session.company.companyInfo.reserved2}" id="oldReserved">公司愿景</span> &nbsp;
                            <img width="17" height="15" src="style/images/quote_r.png">
                        </div>

                        <!--已选择标签-->
                        <input type="hidden" id="hiddenTags" th:value="${session.company.companyTags.companyTag}">
                        <ul style="overflow:auto" id="hasLabels" class="reset clearfix">
                            <!--将数据库中的标签显示在页面上-->
                            <script>
                                //获取所有标签字符串
                                var tags = $("#hiddenTags").val();
                                //字符串分割成为数组
                                var tagArr = new Array(); //定义一数组
                                tagArr = tags.split(","); //字符分割
                                //将标签循环显示在页面上
                                for (i = 0; i < tagArr.length; i++) {
                                    //追加节点
                                    $("#hasLabels").append('<li><span>' + tagArr[i] + '</span></li>');
                                }
                            </script>
                            <!--<li style="border: none;"><a href="javascript:void(0)" id="link">编辑</a></li>-->
                        </ul>

                    </div>
                    <a title="编辑基本信息" class="c_edit" id="editCompanyDetail" href="javascript:void(0);"></a>
                    <div class="clear"></div>
                </div>
                <!--公司logo、基本信息模块end-->
                <div class="c_breakline"></div>

                <!--产品模块-->
                <div id="Product">

                    <div class="product_wrap">

                        <!--无产品 -->
                        <dl class="c_section dn">
                            <dt>
                                <h2><em></em>公司产品</h2>
                            </dt>
                            <dd>
                                <div class="addnew">
                                    酒香不怕巷子深已经过时啦！<br> 把自己优秀的产品展示出来吸引人才围观吧！
                                    <br>
                                    <a class="product_edit" href="javascript:void(0)">+添加公司产品</a>
                                </div>
                            </dd>
                        </dl>

                        <!--产品编辑-->
                        <dl id="newProduct" class="newProduct dn">
                            <dt>
                                <h2><em></em>公司产品</h2>
                            </dt>
                            <dd>
                                <!--产品图片-->
                                <div class="new_product">

                                    <div class="product_upload productShow">
                                        <img width="380" id="resetProductLogo" height="220"
                                             src="style/images/product_default.png">
                                    </div>
                                </div>

                                <div class="cp_intro">
                                    <!--产品名称-->
                                    <input type="text" id="newProductName" placeholder="请输入产品名称"
                                           th:value="${session.company.companyProduct.productName}" name="product">
                                    <!--产品网址-->
                                    <input type="text" id="newProductUrl" placeholder="请输入产品网址"
                                           th:value="${session.company.companyProduct.productUrl}"
                                           name="productUrl">
                                    <!--产品简介-->
                                    <textarea placeholder="请简短描述该产品定位、产品特色、用户群体等" id="newProductDescribe"
                                              th:vale="${session.company.companyProduct.productDescribe}"
                                              th:text="${session.company.companyProduct.productDescribe}"
                                              class="s_textarea" name="productProfile"></textarea>
                                    <div class="clear"></div>


                                    <input type="button" value="保存" id="bc" class="btn_small">
                                    <a class="btn_cancel_s" id="qx" href="javascript:void(0)">取消</a>
                                    <input type="hidden" value="11867" class="product_id">
                                </div>
                                <script>
                                    //点击取消，隐藏编辑框，显示产品框
                                    $("#qx").click(function () {
                                        $("#haveProduct").removeClass("dn");
                                        $("#newProduct").addClass("dn");
                                    });

                                    //校验url是否合法
                                    function isURL(str_url) {// 验证url
                                        var strRegex = "^((https|http|ftp|rtsp|mms)?://)"
                                            + "?(([0-9a-z_!~*'().&=+$%-]+: )?[0-9a-z_!~*'().&=+$%-]+@)?" // ftp的user@
                                            + "(([0-9]{1,3}\.){3}[0-9]{1,3}" // IP形式的URL- 199.194.52.184
                                            + "|" // 允许IP和DOMAIN（域名）
                                            + "([0-9a-z_!~*'()-]+\.)*" // 域名- www.
                                            + "([0-9a-z][0-9a-z-]{0,61})?[0-9a-z]\." // 二级域名
                                            + "[a-z]{2,6})" // first level domain- .com or .museum
                                            + "(:[0-9]{1,4})?" // 端口- :80
                                            + "((/?)|" // a slash isn't required if there is no file name
                                            + "(/[0-9a-z_!~*'().;?:@&=+$,%#-]+)+/?)$";
                                        var re = new RegExp(strRegex);
                                        return re.test(str_url);
                                    }

                                    //点击保存按钮
                                    $("#bc").click(function () {
                                        //获取公司id
                                        var companyId = $("#companyId").val().trim();
                                        //获取当前登陆人id
                                        var userId = $("#userId").val().trim();
                                        //获取原来的产品名称
                                        var oldProductName = $("#oldProductName").text();

                                        //获取原来的产品介绍
                                        var oldProductDescribe = $("#oldProductDescribe").text();
                                        //获取原来的网址
                                        var oldProductUrl = $("#oldProductUrl").val().trim();

                                        //获取新的产品名称
                                        var newProductName = $("#newProductName").val().trim();
                                        //获取新的产品网址
                                        var newProductUrl = $("#newProductUrl").val().trim();
                                        //获取新的产品介绍
                                        var newProductDescribe = $("#newProductDescribe").val();
                                        // console.log("公司id:" + companyId);
                                        // console.log("获取当前登陆人id:" + userId);
                                        // console.log("原来的产品名称:" + oldProductName);
                                        // console.log("新的产品名称:" + newProductName);
                                        // console.log("原来的网址:" + oldProductUrl);
                                        // console.log("新的产品网址:" + newProductUrl);
                                        // console.log("原来的产品介绍:" + oldProductDescribe);
                                        // console.log("新的产品介绍:" + newProductDescribe);
                                        // console.log("urljiequ:"+newProductUrl.substring(0,7));

                                        if (oldProductName == newProductName && oldProductUrl == newProductUrl && oldProductDescribe == newProductDescribe) {
                                            //没有修改，直接取消
                                            $("#qx").click();
                                            return false;
                                        }
                                        if (newProductName == "" || newProductName == null) {
                                            layer.alert("请输入产品名称！", {icon: 2});
                                            return false;
                                        }
                                        if (newProductUrl == "" || newProductUrl == null) {
                                            layer.alert("请输入产品网址！", {icon: 2});
                                            return false;
                                        }
                                        if (!isURL(newProductUrl) || newProductUrl.substring(0, 7) == "http://" || newProductUrl.substring(0, 8) == "https://") {
                                            layer.alert("输入的网址格式不正确！", {icon: 2});
                                            return false;
                                        }
                                        if (newProductDescribe == "" || newProductDescribe == null) {
                                            layer.alert("请输入产品简介！", {icon: 2});
                                            return false;
                                        }
                                        //内容作出改变则发送请求，并将修改后的内容显示在页面上
                                        $.ajax({
                                            type: "post",
                                            //url: "/resetProduct/" + companyId + "/" + userId + "/" + newProductName + "/" + newProductUrl,
                                            url: "/resetProduct/" + companyId + "/" + userId + "/" + newProductName + "/" + newProductUrl + "/" + newProductDescribe,
                                            success: function (result) {
                                                //成功的回调函数
                                                if (result.code == 0) {
                                                    //成功，将修改后的内容显示在页面上
                                                    $("#oldProductName").text(newProductName);
                                                    $("#oldProductUrl").val(newProductUrl);
                                                    $("#oldProductDescribe").text(newProductDescribe);
                                                    //关闭编辑框
                                                    $("#qx").click();
                                                    return false;
                                                } else {
                                                    //失败
                                                    layer.alert("系统繁忙，请稍后再试！", {icon: 5});
                                                    return false;
                                                }
                                            }
                                        });
                                    });
                                </script>
                            </dd>
                        </dl>
                        <!--有产品-->
                        <dl id="haveProduct" class="c_product">
                            <dt>
                                <h2><em></em>公司产品</h2>
                            </dt>
                            <dd>
                                <input type="hidden" id="hiddenProductLogo"
                                       th:value="${session.company.companyProduct.productLogo}">
                                <img width="380" height="220" id="productLogo" src="style/images/product_default.png">
                                <script>
                                    $(function () {
                                        //设置产品logo  /Users/zzr/images/companyPhoto/
                                        $("#productLogo").attr("src", "productLogo/" + $("#hiddenProductLogo").val());
                                        $("#resetProductLogo").attr("src", "productLogo/" + $("#hiddenProductLogo").val());
                                    })
                                </script>

                                <div class="cp_intro">
                                    <!--产品名-->
                                    <h3><a target="_blank" id="oldProductName" href="javascript:void(0)"
                                           th:text="${session.company.companyProduct.productName}">产品名称 </a></h3>
                                    <div class="scroll-pane" style="overflow: hidden; padding: 0px; width: 260px;">
                                        <!--产品URLL-->
                                        <input type="hidden" id="oldProductUrl"
                                               th:value="${session.company.companyProduct.productUrl}">
                                        <div class="jspContainer" style="width: 260px; height: 140px;">
                                            <div class="jspPane" style="padding: 0px; top: 0px; width: 260px;">
                                                <!--产品介绍-->
                                                <div id="oldProductDescribe"
                                                     th:text="${session.company.companyProduct.productDescribe}">
                                                    产品介绍
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a title="编辑公司产品" class="c_edit product_edit" href="javascript:void(0)"></a>
                            </dd>
                        </dl>

                    </div>
                </div>
                <!-- 产品模块 end -->

                <!--公司介绍模块-->
                <div id="Profile">
                    <div class="profile_wrap">
                        <!--编辑介绍-->
                        <dl id="editDescribe" class="c_section newIntro dn">
                            <dt>
                                <h2><em></em>公司介绍</h2>
                            </dt>
                            <dd>
                                    <textarea placeholder="请分段详细描述公司简介、企业文化等" name="companyProfile"
                                              id="newCompanyDescribe"
                                              th:value="${session.company.companyInfo.companyDescribe}"
                                              th:text="${session.company.companyInfo.companyDescribe}"
                                    >公司介绍</textarea>
                                <div class="clear"></div>
                                <input type="button" value="保存" id="saveDescribe" class="btn_small">
                                <a id="qx_Describe" class="btn_cancel_s" href="javascript:void(0)">取消</a>
                            </dd>
                        </dl>
                        <!--有介绍-->
                        <dl id="zs" class="c_section">
                            <dt>
                                <h2><em></em>公司介绍</h2>
                            </dt>
                            <dd>
                                <div class="c_intro" id="oldCompanyDescribe"
                                     th:text="${session.company.companyInfo.companyDescribe}">公司介绍
                                </div>
                                <a title="编辑公司介绍" id="edit" class="c_edit" href="javascript:void(0)"></a>
                            </dd>
                        </dl>
                    </div>
                    <script>
                        //点击编辑按钮
                        $("#edit").click(function () {
                            //显示编辑框，隐藏展示框
                            $("#editDescribe").attr("style", "display: block;");
                            $("#zs").attr("style", "display: none;");
                        });
                        //编辑框，点击取消
                        $("#qx_Describe").click(function () {
                            //隐藏编辑框，显示展示框
                            $("#zs").attr("style", "display: block;");
                            $("#editDescribe").attr("style", "display: none;");
                        });
                        //编辑框，点击保存按钮
                        $("#saveDescribe").click(function () {
                            //获取公司id
                            var companyId = $("#companyId").val().trim();
                            //获取当前登陆人id
                            var userId = $("#userId").val().trim();

                            //获取修改后的公司介绍
                            var newCompanyDescribe = $("#newCompanyDescribe").val().trim();
                            //获取修改前的介绍
                            var oldCompanyDescribe = $("#oldCompanyDescribe").text();
                            // console.log("修改前：" + oldCompanyDescribe);
                            // console.log("修改后:" + newCompanyDescribe);
                            if (oldCompanyDescribe == newCompanyDescribe) {
                                //未作出该改变，直接返回
                                $("#qx_Describe").click();
                                return false;
                            }
                            if (newCompanyDescribe == "" || newCompanyDescribe == null) {
                                layer.alert("请输入公司简介！", {icon: 5});
                                return false;
                            }
                            //成功发送请求
                            $.ajax({
                                type: "post",
                                url: "/resetCompanyDescribe/" + companyId + "/" + userId + "/" + newCompanyDescribe,
                                success: function (result) {
                                    //成功的回调函数
                                    if (result.code == 0) {
                                        //修改成功则将数据显示在展示框中
                                        $("#oldCompanyDescribe").text(newCompanyDescribe);
                                        $("#qx_Describe").click();
                                        return false;
                                    } else {
                                        layer.alert("系统繁忙,请稍后再试！", {icon: 5});
                                    }
                                }
                            });

                        });


                    </script>
                </div>
                <!-- 公司介绍模块 end -->

                <!--[if IE 7]> <br/> <![endif]-->

                <!--招聘职位-->
                <dl id="noJobs" class="c_section">
                    <dt>
                        <h2><em></em>招聘职位</h2>
                    </dt>
                    <dd>
                        <div class="addnew">
                            发布需要的人才信息，让伯乐和千里马尽快相遇……<br>
                            <a th:href="'/createJob?companyId='+${session.company.companyInfo.id}" id="createJob">+添加招聘职位</a>
                        </div>
                    </dd>
                </dl>
                <div id="flag"></div>
            </div>

            <div class="content_r">

                <!--地点等模块-->
                <div id="Tags">
                    <!--展示数据-->
                    <div id="c_tags_show" class="c_tags solveWrap">
                        <table>
                            <tbody>
                            <tr>
                                <td width="45">地点</td>
                                <td id="oldCompanyCity" th:text="${session.company.companyInfo.companyCity}">上海</td>
                            </tr>
                            <tr>
                                <td>领域</td>
                                <!-- 支持多选 -->
                                <td id="oldCompanyFiels" th:text="${session.company.companyInfo.companyField}">移动互联网
                                </td>
                            </tr>
                            <tr>
                                <td>规模</td>
                                <td id="oldCompanyScale" th:text="${session.company.companyInfo.companyScale}">
                                    150-500人
                                </td>
                            </tr>
                            <tr>
                                <td>主页</td>
                                <td>
                                    <a rel="nofollow" target="_blank" id="oldCompanyUrl"
                                       th:href="${session.company.companyInfo.companyUrl}"
                                       th:text="${session.company.companyInfo.companyUrl}">www.zzr666.cn</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a id="editTags" class="c_edit" href="javascript:void(0)"></a>
                    </div>
                    <!--编辑数据-->
                    <div id="c_tags_edit" class="c_tags editTags dn">
                        <table>
                            <tbody>
                            <tr>
                                <td>地点</td>
                                <td>
                                    <input type="text" placeholder="请输入地点"
                                           th:value="${session.company.companyInfo.companyCity}" name="companyCity"
                                           id="companyCity">
                                </td>
                            </tr>
                            <tr>
                                <td>领域</td>
                                <td>
                                    <input type="button"
                                           style="background:none;cursor:default;border:none !important;"
                                           th:value="${session.company.companyInfo.companyField}"
                                           disable="disable" id="" class="select_tags">
                                </td>
                            </tr>
                            <tr>
                                <td>规模</td>
                                <td>
                                    <input type="hidden" th:value="${session.company.companyInfo.companyScale}"
                                           id="companySize" name="companySize">
                                    <input type="button" id="select_sca"
                                           th:value="${session.company.companyInfo.companyScale}" class="select_tags">
                                    <div class="selectBox dn" id="box_sca" style="display: none;">
                                        <ul class="reset">
                                            <li>少于15人</li>
                                            <li>15-50人</li>
                                            <li>50-150人</li>
                                            <li class="current">150-500人</li>
                                            <li>500-2000人</li>
                                            <li>2000人以上</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>主页</td>
                                <td>
                                    <input type="text" placeholder="请输入网址"
                                           th:value="${session.company.companyInfo.companyUrl}"
                                           name="url" id="url">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <input type="button" value="保存" id="submitFeatures" class="btn_small">
                        <a id="qx_info_address" class="btn_cancel_s" href="javascript:void(0)">取消</a>
                        <div class="clear"></div>
                    </div>
                    <script>
                        //点击取消按钮
                        $("#qx_info_address").click(function () {
                            $("#c_tags_show").attr("style", "display:block;");
                            $("#c_tags_edit").attr("style", "display:none;");
                        });
                        //点击保存按钮
                        $("#submitFeatures").click(function () {
                            //获取公司id
                            var companyId = $("#companyId").val().trim();
                            //获取当前登陆人id
                            var userId = $("#userId").val().trim();
                            //获取新的地点
                            var newCompanyCity = $("#companyCity").val().trim();
                            //获取新的规模
                            var newCompanyScale = $("#companySize").val().trim();
                            //获取新的网址
                            var newCompanyUrl = $("#url").val().trim();

                            //获取原来的地点
                            var oldCompanyCity = $("#oldCompanyCity").text();
                            //获取原来的规模
                            var oldCompanyScale = $("#oldCompanyScale").text();
                            //获取原来的网址
                            var oldCompanyUrl = $("#oldCompanyUrl").text();

                            // console.log("原来的地点:"+oldCompanyCity);
                            // console.log("现在的地点:"+newCompanyCity);
                            // console.log("原来的规模:"+oldCompanyScale);
                            // console.log("现在的规模:"+newCompanyScale);
                            // console.log("原来的网址:"+oldCompanyUrl);
                            // console.log("现在的网址:"+newCompanyUrl);

                            if (oldCompanyCity == newCompanyCity && oldCompanyScale == newCompanyScale && oldCompanyUrl == newCompanyUrl) {
                                //未作出改变
                                $("#qx_info_address").click();
                                return false;
                            }
                            if(newCompanyCity==""||newCompanyCity==null){
                                layer.alert("请输入公司所在地！", {icon: 2});
                                return false;
                            }
                            if(newCompanyUrl==""||newCompanyUrl==null){
                                layer.alert("请输入公司网址！", {icon: 2});
                                return false;
                            }

                            if (!isURL(newCompanyUrl) || newCompanyUrl.substring(0, 7) == "http://" || newCompanyUrl.substring(0, 8) == "https://") {
                                layer.alert("输入的网址格式不正确！", {icon: 2});
                                return false;
                            }
                            $.ajax({
                                type: "post",
                                url: "/resetAddress/" + companyId + "/" + userId + "/" + newCompanyCity + "/" + newCompanyScale + "/" + newCompanyUrl,
                                success: function (result) {
                                    //成功的回调函数
                                    if (result.code == 0) {
                                        //修改成功，将修改后的数据展示到页面上
                                        $("#oldCompanyCity").text(newCompanyCity);
                                        $("#oldCompanyScale").text(newCompanyScale);
                                        $("#oldCompanyUrl").text(newCompanyUrl);
                                        //显示展示框
                                        $("#qx_info_address").click();
                                    } else {
                                        layer.alert("系统繁忙,请稍后再试！", {icon: 5});
                                    }
                                }
                            });


                        });


                    </script>
                </div>
                <!-- 地点等模块 end -->

                <!--融资模块-->
                <dl class="c_section c_stages">
                    <dt>
                        <h2><em></em>融资阶段</h2>
                        <a title="编辑融资阶段" id="editStageButton" class="c_edit" href="javascript:void(0)"></a>
                    </dt>
                    <dd>
                        <ul class="reset stageshow" id="showCompanyStage">
                            <li>目前阶段：<span class="c5" id="oldCompanyStage"
                                           th:text="${session.company.companyInfo.companyStage}">发展阶段</span></li>
                        </ul>
                        <form class="dn" id="stageform">
                            <ul class="reset">
                                <li>
                                    <label>融资阶段</label>
                                    <input type="hidden" class="select_invest_hidden" name="select_invest_hidden">
                                    <input type="button" id="newCompanyStage"
                                           th:value="${session.company.companyInfo.companyStage}"
                                           class="select_tags_short select_invest">
                                    <div class="selectBoxShort dn" style="display: none;margin-top: -2px;">
                                        <ul class="reset">
                                            <li>天使轮</li>
                                            <li>A轮</li>
                                            <li>B轮</li>
                                            <li>C轮</li>
                                            <li>D轮及以上</li>
                                            <li>上市公司</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <input type="button" id="save_companyStage" value="保存" class="btn_small">
                            <a id="qx_CompanyStage" class="btn_cancel_s" href="javascript:void(0)">取消</a>
                            <div class="clear"></div>
                        </form>
                        <script>
                            //点击取消按钮
                            $("#qx_CompanyStage").click(function () {
                                //显示展示框，隐藏编辑框
                                $("#stageform").attr("style", "display:none");
                                $("#showCompanyStage").attr("style", "display:block");
                                $("#editStageButton").attr("style", "display:block");

                            });
                            //点击保存按钮
                            $("#save_companyStage").click(function () {
                                //获取公司ID
                                var companyId = $("#companyId").val().trim();
                                //获取当前登陆人ID
                                var userId = $("#userId").val().trim();
                                //获取发展阶段
                                var newCompanyStage = $("#newCompanyStage").val();
                                $.ajax({
                                    type: "post",
                                    url: "/resetCompanyStage/" + companyId + "/" + userId + "/" + newCompanyStage,
                                    success: function (result) {
                                        //成功的回调函数
                                        if (result.code == 0) {
                                            //成功则将修改后的信息显示在页面上
                                            $("#oldCompanyStage").text(newCompanyStage);
                                            //返回
                                            $("#qx_CompanyStage").click();
                                        } else {
                                            layer.alert("系统异常,请稍后再试！", {icon: 5});
                                        }
                                    }
                                });

                            });
                        </script>
                    </dd>
                </dl>
                <!-- end .c_stages -->

                <!--创始团队模块-->
                <div id="Member">
                    <!--有创始团队-->
                    <dl class="c_section c_member">
                        <dt>
                            <h2><em></em>创始团队</h2>
<!--                            <a title="添加创始人" class="c_add" href="javascript:void(0)"></a>-->
                        </dt>
                        <dd>
                            <!--一个完整的创始人展示框、编辑框-->
                            <div class="member_wrap" th:each="founder : ${session.company.companyInitList}">
                                <!-- 编辑创始人 edit框 -->
                                <!--   <div class="member_info newMember dn">
                                    <form class="memberForm">
                                        <div class="new_portrait">
                                            <div class="portrait_upload dn portraitNo">
                                                <span>上传创始人头像</span>
                                            </div>
                                            <div class="portraitShow">
                                                <img width="120" height="120" src="style/images/leader_default.png">
                                                <span>更换头像</span>
                                            </div>
                                            <input type="file" value="" title="支持jpg、jpeg、gif、png格式，文件小于5M"
                                                   onchange="member_check(this,'http://www.lagou.com/c/upload.json','portraitNo','portraitShow','type','leaderInfos');"
                                                   name="myfiles" id="profiles0">
                                            <input type="hidden" value="7" name="type" class="type">
                                            <input type="hidden" value="images/leader_default.png" name="photo"
                                                   class="leaderInfos">
                                            <em>
                                                尺寸：120*120px <br>
                                                大小：小于5M
                                            </em>
                                        </div>
                                        <input type="text" placeholder="请输入创始人姓名" value="孙泰英" name="name">
                                        <input type="text" placeholder="请输入创始人当前职位" value="ceo" name="position">
                                        <input type="text" placeholder="请输入创始人新浪微博地址" value="http://weimob.weibo.com"
                                               name="weibo">
                                        <textarea placeholder="请输入创始人个人简介" maxlength="500" class="s_textarea"
                                                  name="remark">发放的发达范德萨范德萨范德萨发的复大发大水发生的</textarea>
                                        <div class="word_count fr">你还可以输入 <span>500</span> 字</div>
                                        <div class="clear"></div>
                                        <input type="submit" value="保存" class="btn_small">
                                        <a class="btn_cancel_s member_delete" href="javascript:void(0)">删除</a>
                                        <input type="hidden" value="11493" class="leader_id">
                                    </form>
                                </div>-->

                                <!-- 显示创始人 -->
                                <div class="member_info">
<!--                                    <a title="编辑创始人" onclick="editFounder(this)" class=" member_edit" href="javascript:void(0)"></a>-->
                                    <div class="m_portrait">
                                        <div></div>
                                        <!--隐藏于存放头像-->
                                        <input type="hidden" id="hiddenFounderPhoto" th:value="${founder.founderPhoto}">
                                        <img width="120" height="120" th:src="'founderPhoto/'+${founder.founderPhoto}">
                                    </div>
                                    <div class="m_name" th:text="${founder.founderName}" style="margin-top:35px">创始人姓名</div>

                                    <div class="m_position" th:text="${founder.founderPosition}">创始人职位</div>
                                    <div class="m_intro" th:text="${founder.founderDescribe}">创始人简介</div>
                                    <!--隐藏域存放创始人ID-->
                                    <input type="hidden"  th:value="${founder.id}">
                                    <!--隐藏域存放公司ID-->
                                    <input type="hidden"  th:value="${founder.companyId}">
                                    <!--隐藏域存放公司名称-->
                                    <input type="hidden"  th:value="${founder.companyName}">
                                </div>
                            </div>
                            <script>
                                //点击编辑按钮触发的函数
                                function editForm(t){
                                    alert($(t).next().next().text());
                                }

                            </script>


                        </dd>

                    </dl>
                </div>
                <!-- 创始团队模块 end -->

            </div>
        </div>

        <!-------------------------------------弹窗lightbox  ----------------------------------------->
        <div style="display:none;">
            <div style="width:650px;height:470px;" class="popup" id="logoUploader">
                <object width="650" height="470" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="FlashID">
                    <param value="../../flash/avatar.swf?url=http://www.lagou.com/cd/saveProfileLogo.json" name="movie">
                    <param value="high" name="quality">
                    <param value="opaque" name="wmode">
                    <param value="111.0.0.0" name="swfversion">
                    <!-- 此 param 标签提示使用 Flash Player 6.0 r65 和更高版本的用户下载最新版本的 Flash Player。如果您不想让用户看到该提示，请将其删除。 -->
                    <param value="../../Scripts/expressInstall.swf" name="expressinstall">
                    <!-- 下一个对象标签用于非 IE 浏览器。所以使用 IECC 将其从 IE 隐藏。 -->
                    <!--[if !IE]>-->
                    <object width="650" height="470"
                            data="../../flash/avatar.swf?url=http://www.lagou.com/cd/saveProfileLogo.json"
                            type="application/x-shockwave-flash">
                        <!--<![endif]-->
                        <param value="high" name="quality">
                        <param value="opaque" name="wmode">
                        <param value="111.0.0.0" name="swfversion">
                        <param value="../../Scripts/expressInstall.swf" name="expressinstall">
                        <!-- 浏览器将以下替代内容显示给使用 Flash Player 6.0 和更低版本的用户。 -->
                        <div>
                            <h4>此页面上的内容需要较新版本的 Adobe Flash Player。</h4>
                            <p><a href="http://www.adobe.com/go/getflashplayer"><img width="112" height="33"
                                                                                     src="style/images/get_flash_player.gif"
                                                                                     alt="获取 Adobe Flash Player"></a>
                            </p>
                        </div>
                        <!--[if !IE]>-->
                    </object>
                    <!--<![endif]-->
                </object>
            </div>
            <!-- #logoUploader -->
        </div>
        <!------------------------------------- end ----------------------------------------->

        <script src="style/js/company.min.js" type="text/javascript"></script>
        <script>
            var avatar = {};
            avatar.uploadComplate = function (data) {
                var result = eval('(' + data + ')');
                if (result.success) {
                    jQuery('#logoShow img').attr("src", ctx + '/' + result.content);
                    jQuery.colorbox.close();
                }
            };
        </script>
        <div class="clear"></div>
        <input type="hidden" value="d1035b6caa514d869727cff29a1c2e0c" id="resubmitToken">
        <a rel="nofollow" title="回到顶部" id="backtop" style="display: inline;"></a>
    </div>
    <!-- end #container -->
</div>
<!-- end #body -->
<!--引入页面底部备案号-->
<div th:replace="public/publicFragment::footer_nav"></div>

<script src="style/js/core.min.js" type="text/javascript"></script>
<script src="style/js/popup.min.js" type="text/javascript"></script>

<!--  -->

<div id="cboxOverlay" style="display: none;"></div>
<div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
    <div id="cboxWrapper">
        <div>
            <div id="cboxTopLeft" style="float: left;"></div>
            <div id="cboxTopCenter" style="float: left;"></div>
            <div id="cboxTopRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
            <div id="cboxMiddleLeft" style="float: left;"></div>
            <div id="cboxContent" style="float: left;">
                <div id="cboxTitle" style="float: left;"></div>
                <div id="cboxCurrent" style="float: left;"></div>
                <button type="button" id="cboxPrevious"></button>
                <button type="button" id="cboxNext"></button>
                <button id="cboxSlideshow"></button>
                <div id="cboxLoadingOverlay" style="float: left;"></div>
                <div id="cboxLoadingGraphic" style="float: left;"></div>
            </div>
            <div id="cboxMiddleRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
            <div id="cboxBottomLeft" style="float: left;"></div>
            <div id="cboxBottomCenter" style="float: left;"></div>
            <div id="cboxBottomRight" style="float: left;"></div>
        </div>
    </div>
    <div style="position: absolute; width: 9999px; visibility: hidden; display: none;"></div>
</div>
</body>

</html>