<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>简历预览-我的简历-伯乐网</title>
    <link href="style/css/style.css" type="text/css" rel="stylesheet">
    <link href="style/css/colorbox.min.css" type="text/css" rel="stylesheet">
    <link href="style/css/popup.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="style/js/jquery.1.10.1.min.js"></script>
    <script src="style/js/jquery.colorbox-min.js" type="text/javascript"></script>
    <script>
        $(function () {
            $("body").on("click", "a.btn_s", function () {
                $.colorbox.close();
                parent.jQuery.colorbox.close();
            });
            $(".inline").colorbox({
                inline: true
            });
        });
    </script>
</head>

<body>
<div id="previewWrapper">
    <div class="preview_header">
        <h1 th:title="${session.jianli.name}+'的简历'">[[${session.jianli.name}]]的简历</h1>
    </div>

    <div class="preview_content">
        <!--基本信息-->
        <div class="profile_box" id="basicInfo">
            <h2>基本信息</h2>
            <div class="basicShow">
                <!--						<span>[[${session.jianli.name}]] | [[${session.jianli.sex}]] | [[${session.jianli.schoolSystem}]]<br>-->
                <!--            			            				本科 · 北京大学<br>-->
                <!--            			            			18644444444 | jason@qq.com<br>-->
                <!--            		</span>-->
                <span>
					姓名：[[${session.jianli.name}]] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性别：[[${session.jianli.sex}]]<br>
					学历：[[${session.jianli.maxEducation}]]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   学校：[[${session.jianli.school}]]<br>
					电话：[[${session.jianli.phone}]]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮箱：[[${session.jianli.email}]]<br>
					工作经验：[[${session.jianli.schoolSystem}]]
				</span>
                <div class="m_portrait" style="top: -25px;">
                    <div></div>
                    <img width="120" height="120" th:alt="${session.jianli.name}"
                         th:src="'userPhoto/'+${session.jianli.photo}">
                </div>
            </div>
            <!--end .basicShow-->
        </div>
        <!--基本信息 end-->

        <!--教育背景-->
        <div class="profile_box" id="educationalBackground"
             th:if="${session.jianli!=null && session.jianli.school!=null &&session.jianli.school!=''}">
            <h2>教育背景</h2>
            <div class="educationalShow">
                <ul class="elist clearfix">
                    <li class="clear c7" style="width: 606px">
                        <span class="c9">[[${session.jianli.studyStartYear}]]年 ～ [[${session.jianli.studyEndYear}]]年</span><br>
                        <span style="color: #3a3a3a;">毕业院校：</span>[[${session.jianli.school}]]<br>
                        <span style="color: #3a3a3a;">学历：</span>[[${session.jianli.education}]]<br>
                        <span style="color: #3a3a3a;">所学专业：</span>[[${session.jianli.majorName}]]<br>
                    </li>
                </ul>
            </div>
            <!--end .educationalShow-->
        </div>
        <!--教育背景 end-->

        <!--期望工作-->
        <div class="profile_box" id="expectJob"
             th:if="${session.jianli!=null && session.jianli.hopeWorkplace!=null &&session.jianli.hopeWorkplace!=''}">
            <h2>期望工作</h2>
            <div class="expectShow c7">
                <span style="color: #3a3a3a;">工作地点：</span>[[${session.jianli.hopeWorkplace}]]<br>
                <span style="color: #3a3a3a;">工作性质：</span>[[${session.jianli.jobType}]]<br>
                <span style="color: #3a3a3a;">职位：</span>[[${session.jianli.hopePosition}]]<br>
                <span style="color: #3a3a3a;">薪资：</span>[[${session.jianli.hopeSalary}]]
            </div>
            <!--end .expectShow-->
        </div>
        <!--期望工作 end-->

        <!--工作经历-->
        <div class="profile_box" id="workExperience"
             th:if="${session.jianli!=null && session.jianli.oldCompany!=null &&session.jianli.oldCompany!=''}">
            <h2>工作经历</h2>
            <div class="experienceShow">
                <ul class="wlist clearfix">
                    <li class="clear c7">
                        <span class="c9"><span style="color: #3a3a3a;">时间：</span>[[${session.jianli.oldJobStartYear}]]年[[${session.jianli.oldJobStartMonth}]]月 ～ [[${session.jianli.oldJobEndYear}]]年[[${session.jianli.oldJobEndMonth}]]月</span>
                        <div>
                            <span class="c7" style="margin-left: 0;width: 500px"><span
                                    style="color: #3a3a3a;">工作单位：</span>[[${session.jianli.oldCompany}]]</span><br>
                            <span class="c7" style="margin-left: 0;width: 500px"><span
                                    style="color: #3a3a3a;">担任职位：</span>[[${session.jianli.oldPosition}]] </span>
                        </div>
                    </li>
                </ul>
            </div>
            <!--end .experienceShow-->
        </div>
        <!--工作经历 end-->

        <!--项目经验-->
        <div class="profile_box" id="projectExperience"
             th:if="${session.jianli!=null && session.jianli.projectName!=null &&session.jianli.projectName!=''}">
            <h2>项目经验</h2>
            <div class="projectShow">
                <ul class="plist clearfix">
                    <li class="noborder">
                        <div class="projectList">
                            <div class="c7">
                                <span style="color: #3a3a3a;">项目名称：</span>[[${session.jianli.projectName}]]
                                <span class="c9">([[${session.jianli.pojStartYear}]]年[[${session.jianli.pojStartMonth}]]月 ～ [[${session.jianli.pojEndYear}]]年[[${session.jianli.pojEndMonth}]]月)</span><br>
                                <span style="color: #3a3a3a;">担任职务：</span>[[${session.jianli.role}]]<br>
                                <span style="color: #3a3a3a;">项目简介：</span>[[${session.jianli.pojDescribe}]]
                            </div>
                            <div class="dl1"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--end .projectShow-->
        </div>
        <!--项目经验 end-->

        <!--作品展示-->
        <div class="profile_box" id="worksShow"
             th:if="${session.jianli!=null && session.jianli.worksDescribe!=null &&session.jianli.worksDescribe!=''}">
            <h2>作品展示</h2>
            <div class="workShow">
                <ul class="slist clearfix">
                    <li class="noborder">
                        <div class="workList c7">
                            <div class="f16">
                                <span style="color: #3a3a3a;">网址：</span><a href="javascript:void(0)">[[${session.jianli.worksUrl}]]</a><br><br>
                                <span style="color: #3a3a3a;">作品介绍：</span>[[${session.jianli.worksDescribe}]]
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--end .workShow-->
        </div>
        <!--作品展示 end-->

        <!--自我描述-->
        <div class="profile_box" id="selfDescription"
             th:if="${session.jianli!=null && session.jianli.autognosis!=null &&session.jianli.autognosis!=''}">
            <h2>自我描述</h2>
            <div class="descriptionShow c7">
                [[${session.jianli.autognosis}]]
            </div>
            <!--end .descriptionShow-->
        </div>
        <!--自我描述 end-->
    </div>
</div>
</body>

</html>