<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>公司信息完善成功-公司认证-伯乐网</title>
    <link href="style/css/style.css" type="text/css" rel="stylesheet">
    <link href="style/css/external.min.css" type="text/css" rel="stylesheet">
    <link href="style/css/popup.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="style/js/jquery.1.10.1.min.js"></script>
    <script src="style/js/jquery.lib.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="style/js/ajaxfileupload.js"></script>
    <script src="style/js/additional-methods.js" type="text/javascript"></script>
    <!--layer.js-->
    <script type="text/javascript" src="style/js/layer/layer.js"></script>
</head>

<body>
<div id="body">
    <!--引入顶部导航栏-->
    <div th:replace="public/publicFragment::company_top_nav_ok"></div>
    <div id="container">

        <div class="content_mid">

            <!--发布职位成功 -->
            <dl class="c_section c_section_mid">
                <dt>
                    <h2><em></em>填写公司信息</h2>
                </dt>
                <dd class="c_notice">
                    <h4>恭喜你，公司信息已填写完善，你可以发布职位啦！</h4>
                    <!--隐藏域存放用户的id-->
                    <input type="hidden" id="userId" name="userId" th:value="${session.user.id}">
                    <!--隐藏域存放当前公司id-->
                    <input type="hidden" id="companyId" name="companyId" th:value="${session.reg_companyInfo.id}">
                    <a class="greylink" id="tocreate" href="javascript:void(0)">发布新职位</a>
                    <a class="greylink tomyhome" href="javascript:void(0)"> 进入我的公司主页</a>
                </dd>
                <script>
                    $(".tomyhome").click(function(){
                        //获取用户id
                        var userId=$("#userId").val();
                        location.href="/myhome?"+"userId="+userId;

                    });

                </script>
            </dl>
        </div>

        <div class="clear"></div>
        <input type="hidden" value="" id="resubmitToken">
        <a rel="nofollow" title="回到顶部" id="backtop"></a>
    </div>
</div>
<!--引入页面底部备案号-->
<div th:replace="public/publicFragment::footer_nav"></div>

<script src="style/js/core.min.js" type="text/javascript"></script>
<script src="style/js/popup.min.js" type="text/javascript"></script>
</body>

</html>