<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>公司标签-公司认证-伯乐网</title>
    <link href="style/css/style.css" type="text/css" rel="stylesheet">
    <link href="style/css/external.min.css" type="text/css" rel="stylesheet">
    <link href="style/css/popup.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="style/js/jquery.1.10.1.min.js"></script>
    <script src="style/js/jquery.lib.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="style/js/ajaxfileupload.js"></script>
    <script src="style/js/additional-methods.js" type="text/javascript"></script>
    <!--layer.js-->
    <script type="text/javascript" src="style/js/layer/layer.js"></script>
</head>

<body>
<div id="body">
    <!--引入顶部导航栏-->
    <div th:replace="public/publicFragment::company_top_nav"></div>

    <!--主体部分-->
    <div id="container">

        <div class="content_mid">
            <dl class="c_section c_section_mid">
                <dt>
                    <h2><em></em>填写公司信息</h2>
                    <a class="c_addjob" href="javascript:void(0)">&nbsp;</a>
                </dt>
                <dd id="step2Form">
                    <div class="c_text">简短明了的标签信息让求职者更加方便检索，更快找到你们！</div>
                    <img width="668" height="56" class="c_steps" alt="第二步" src="style/images/step2.png">

                    <h3>已添加标签</h3>
					<!--此ul中存的就是最终选中的标签-->
                    <ul class="reset" id="labels"></ul>

                    <input type="text" placeholder="请输入自定义标签" name="label" id="label">
                    <input type="submit" value="贴上" id="add_label">
                    <div class="clear"></div>

                    <div id="box_labels">
                        <dl>
                            <dt>薪酬激励</dt>
                            <dd>
                                <ul class="reset">
                                    <li>年终分红</li>
                                    <li>绩效奖金</li>
                                    <li>股票期权</li>
                                    <li>专项奖金</li>
                                    <li>年底双薪</li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>员工福利</dt>
                            <dd>
                                <ul class="reset">
                                    <li>五险一金</li>
                                    <li>通讯津贴</li>
                                    <li>交通补助</li>
                                    <li>带薪年假</li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>员工关怀</dt>
                            <dd>
                                <ul class="reset">
                                    <li>免费班车</li>
                                    <li>节日礼物</li>
                                    <li>年度旅游</li>
                                    <li>弹性工作</li>
                                    <li>定期体检</li>
                                    <li>午餐补助</li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>其他</dt>
                            <dd>
                                <ul class="reset">
                                    <li>岗位晋升</li>
                                    <li>技能培训</li>
                                    <li>管理规范</li>
                                    <li>扁平管理</li>
                                    <li>领导好</li>
                                    <li>美女多</li>
                                    <li>帅哥多</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <!--隐藏于存放公司ID-->
                    <input type="hidden" id="companyId" name="companyId" th:value="${session.reg_companyInfo.id}">
                    <!--隐藏域存放用户的id-->
                    <input type="hidden" id="userId" th:value="${session.user.id}">
                    <input type="button" value="保存，下一步" id="step2Submit" class="btn_big fr" >
<!--                    <input type="button" value="保存，下一步" id="save" class="btn_big fr" >-->
                    <!--<a class="btn_cancel fr" href="#">跳过</a>-->
                </dd>
            </dl>
        </div>

        <script src="style/js/step2.min.js" type="text/javascript"></script>
        <div class="clear"></div>
        <input type="hidden" value="" id="resubmitToken">
        <a rel="nofollow" title="回到顶部" id="backtop" style="display: none;"></a>
    </div>
</div>
<!--引入页面底部备案号-->
<div th:replace="public/publicFragment::footer_nav"></div>

<script src="style/js/core.min.js" type="text/javascript"></script>
<script src="style/js/popup.min.js" type="text/javascript"></script>
</body>

</html>